* { box-sizing: border-box; font-family: Helvetica Neue; }
.header { background: linear-gradient(to right, purple, blue, lightblue); color: #f1f1f1; padding: 10px; }
.border { border-style: solid; border-width: 1px; border-radius: 5px; margin: 2px; padding: 10px;}
.green {background-color: #0F9D58; color: white;}
.yellow { background-color: #F4B400; color: white;}
.red { background-color: #DB4437; color: white;}
.blue { background-color: #4285F4; color: white;}
.facebook-blue { background-color: white; color:#3b5998}
.section1 { background-color:#ccf5ff; color: #002933; }
.section2 { background-color: #e6ccff; color: #1a0033; }
.section3 { background-color: #ffcccc; color: #330000; }
.section4 { background-color:#ffe6cc; color: #331a00; }
.section5 { background-color: #ffffcc; color: #333300; }
.services { background-color:#ffe6cc; color: #331a00; }
.disclaimer { background-color:lightgrey; }
.linkmenu { text-align: center; align-items: center; flex-wrap: wrap; color: black; margin: auto; }
.flex-container { display:flex;  flex-wrap: wrap; justify-content: center; }
.button1 { width: 210px; margin: 10px; padding: 10px; border-style: solid; border-radius: 5px; cursor: pointer; font-size: 100%; background-color: inherit; border-color: #002933; }
.button1:hover { color: white; background: #002933; }
.button2 { width: 210px; margin: 10px; padding: 10px; border-style: solid; border-radius: 5px; cursor: pointer; font-size: 100%; background-color:inherit; border-color: #1a0033; }
.button2:hover { color: white; background: #1a0033; }
.button3 { width: 210px; margin: 10px; padding: 10px; border-style: solid; border-radius: 5px; cursor: pointer; font-size: 100%; background-color:inherit; border-color: #1a0033; }
.button3:hover { color: white; background: #330000; }
.button4 { width: 210px; margin: 10px; padding: 10px; border-style: solid; border-radius: 5px; cursor: pointer; font-size: 100%; background-color: inherit; border-color: #331a00; }
.button4:hover { color: #ffe6cc; background: #331a00; }
.button5 { width: 250px; margin: 10px; padding: 10px; border-style: solid; border-radius: 5px; cursor: pointer; font-size: 100%; background: inherit; border-color: #072c07; }
.button5:hover { color: white; background: #072c07; }
.button6 { padding: 10px; border-style: solid; border-radius: 5px; cursor: pointer; font-size: 100%; background-color: #4599d1; border-color: #4599d1; color: #fff }
.button6:hover { background-color: #4599d1; color: #fff; }
a { font-style: italic;}
h1 { font-size: 32px; line-height: normal; }
h2 { font-size: 28px; line-height: normal; }
h3 { font-size: 24px; line-height: normal; }
.pad {margin: 10px;}
.more-calc { max-width:768px; margin:auto }
.center { text-align: center; margin: auto; }
.footer { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; background-color: #4c4c4c; color: white; font-size: 16px; }
.row::after { content: ""; clear: both; display: table; }
[class*="col-"] { float: left; padding: 15px; }
/* For mobile phones: */
.main {width: 100%; margin: auto; padding:15px;}
[class*="col-"] { width: 100%; }
@media only screen and (min-width: 768px) {
  /* For tablets: */
  .main {width: 100%; margin: auto; padding:15px;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .main {max-width: 1320px; margin: auto; padding:15px;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* Style the Loan Program note content */
.tabcontent { display: none; text-align: left; border-style: solid; border-width: 1px; border-color: #4CAF50; border-radius: 5px; padding: 6px 12px; }
.loanPrograms { border-style: solid; border-width: 1px; border-color: #4CAF50; border-radius: 5px; margin: 10px 10px; padding: 6px 12px; }
.loanProgramNote { text-align: left; border-style: solid; border-width: 1px; border-color: #4CAF50; border-radius: 5px; padding: 6px 12px; }
table { border-collapse: collapse; margin: 10px; float:inherit; }
th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; }
tr:hover { background-color: #f5f5f5; }
/*End tab content */
.slider { -webkit-appearance: none; width: 90%; height: 15px; border-radius: 5px; background: #d3d3d3; outline: none; -webkit-transition: .2s; transition: opacity .2s; }
.slider:hover { opacity: 1; }
.slider::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 25px; height: 25px; border-radius: 50%; background: #4CAF50; cursor: pointer; }
.slider::-moz-range-thumb { width: 25px; height: 25px; border-radius: 50%; background: #4CAF50; cursor: pointer; }
.slider1 { -webkit-appearance: none; width: 90%; height: 15px; border-radius: 5px; background: linear-gradient(to right, green, yellow, red); outline: none; -webkit-transition: .2s; transition: opacity .2s; }
.slider1::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 25px; height: 25px; border-radius: 50%; background: #4CAF50; cursor: pointer; }
.slider1::-moz-range-thumb { width: 25px; height: 25px; border-radius: 50%; background: #4CAF50; cursor: pointer; }
/* Bottom Arrow */
.tooltip { position: relative; display: inline-block; border-bottom: 1px dotted black; }
.tooltip .tooltiptext { visibility: hidden; width: 100%; background-color: black; color: #fff; text-align: center; border-radius: 6px; padding: 5px 5px; /* Position the tooltip */ position: absolute; z-index: 1; bottom: 110%; left: 50%; margin-left: -150px; }
.tooltip .tooltiptext::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: black transparent transparent transparent; }
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext { visibility: visible; width: 300px; }
.heading { background-color: green; color: white; padding: 15px; width: 100%; margin: auto; text-align: center; font-size: 18px; border-radius: 5px; border-style: none; }
.note { width: 90%; margin: 10px 5px 5px 20px; border: 1px solid powderblue; padding: 10px; border-radius: 4; }
/* Style the button that is used to open and close the collapsible content */
.collapsible { background-color: lightgreen; color: black; cursor: pointer; padding: 18px; width: 100%; margin: auto; border: none; border-radius: 5px; text-align: center; outline: none; font-size: 100%; }
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover { background-color: green; color: white }
/* Style the collapsible content - Animated Collapsible (Slide Down) */
.content { padding: 0 18px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; }
video { width: 100%; height: auto; }
/* Blinker */
.blink { animation: blinker 1s step-start infinite; }
@keyframes blinker { 50% { opacity: 0; } }
/* End Blinker */
/* Responsive Equal Height Columns */
.qm-container { display: table; width: 100%; }
.qm { display: table-cell; padding: 16px; }
@media only screen and (max-width: 600px) { .qm { display: block; width: 100%; } }
/* 02.16.19 */
#mySelect1, #mySelect2 {
  font-size: 16px;
  border-radius: 5px;
}