* {
  box-sizing: border-box;
  font-family: Helvetica Neue;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background: linear-gradient(toright, purple, blue, lightblue);
  color: #f1f1f1;
  padding: 8px;
}

.border {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: 2px;
  padding: 10px;
}

.green {
  background-color: #0F9D58;
  color: #FFF;
}

.yellow {
  background-color: #F4B400;
  color: #FFF;
}

.red {
  background-color: #DB4437;
  color: #FFF;
}

.blue {
  background-color: #4285F4;
  color: #FFF;
}

.facebook-blue {
  background-color: #FFF;
  color: #3b5998;
}

.section1 {
  background-color: #ccf5ff;
  color: #002933;
}

.section2 {
  background-color: #e6ccff;
  color: #1a0033;
}

.section3 {
  background-color: #fcc;
  color: #300;
}

.section5 {
  background-color: #ffc;
  color: #330;
}

.disclaimer {
  background-color: #D3D3D3;
}

.linkmenu {
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  color: #000;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button1 {
  width: 210px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: inherit;
  border-color: #002933;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.button1:hover {
  color: #FFF;
  background: #002933;
}

.button2:hover {
  color: #FFF;
  background: #1a0033;
}

.button3:hover {
  color: #FFF;
  background: #300;
}

.button4 {
  width: 210px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: inherit;
  border-color: #331a00;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.button4:hover {
  color: #ffe6cc;
  background: #331a00;
}

.button5 {
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 100%;
  background: inherit;
  border-color: #072c07;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.button5:hover {
  color: #FFF;
  background: green;
}

.button6 {
  border-radius: 5px;
  cursor: pointer;
  font-size: 100%;
  background: #4599d1;
  color: #fff;
  border-color: #4599d1;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.button6:hover {
  background-color: #4599d1;
  color: #fff;
}

a {
  font-style: italic;
  text-decoration: none;
  color: #4599d1;
}

a:hover {
  color: blue;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 32px;
  line-height: normal;
}

h2 {
  font-size: 26px;
  line-height: normal;
}

h3 {
  font-size: 18px;
  line-height: normal;
}

.pad {
  margin: 10px;
}

.more-calc {
  max-width: 768px;
  margin: auto;
}

.center {
  text-align: center;
  margin: auto;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #4c4c4c;
  color: #FFF;
  font-size: 16px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  width: 100%;
  padding: 15px;
}

.main {
  width: 100%;
  padding: 8px;
}

.tabcontent {
  display: none;
  text-align: left;
  border-radius: 5px;
  border-color: #4CAF50;
  border-style: solid;
  border-width: 1px;
  padding: 6px 12px;
}

.loanPrograms {
  border-radius: 5px;
  border-color: #4CAF50;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  padding: 6px 12px;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider1 {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;
  background: linear-gradient(toright, green, yellow, red);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #000;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 30%;
  margin-left: -40px;
  padding: 5px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: #000 transparent transparent;
  border-style: solid;
  border-width: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  width: 300px;
}

.heading {
  background-color: green;
  color: #FFF;
  width: 100%;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  border-style: none;
  margin: auto;
  padding: 15px;
}

.headingColumn {
  background-color: #90EE90;
  color: #000;
  width: 100%;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  border-style: none;
  margin: auto;
  padding: 15px;
}

.headingColumn.hover {
  background-color: #006400;
  color: #FFF;
  width: 100%;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  border-style: none;
  margin: auto;
  padding: 15px;
}

.collapsible {
  background-color: #90EE90;
  color: #000;
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
  outline: none;
  font-size: 100%;
  margin: auto;
  padding: 18px;
}

.active, .collapsible:hover {
  background-color: green;
  color: #FFF;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;
  padding: 0 18px;
}

video {
  width: 100%;
  height: auto;
}

.blink {
  animation: blinker 1s step-start infinite;
}

.qm-container {
  display: table;
  width: 100%;
}

.qm {
  display: table-cell;
  padding: 16px;
}

#mySelect, #mySelect1, #mySelect2 {
  font-size: 16px;
  border-radius: 5px;
}

.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.zoom2:hover {
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.inputContainer {
  clear: both;
  background-color: #EEE;
  border: 1px solid #CCC;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: inset 0 1px 0 #fff;
  margin: 4px;
  padding: 4px;
}

.inputTitleContainer {
  clear: both;
  margin: 10px;
}

.inputTitle {
  float: left;
  margin: 0;
}

.inputValue {
  float: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #FFF;
  padding: 3px 3px 3px 6px;
}

.sliderContainer {
  clear: both;
  margin: 48px 4px 4px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.section4, .services {
  background-color: #ffe6cc;
  color: #331a00;
}

.button1:focus, .button2:focus, .button3:focus, .button4:focus, .button5:focus, .button6:focus {
  outline: 0;
}

.button2, .button3 {
  width: 210px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: inherit;
  border-color: #1a0033;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.loanProgramNote, .note {
  text-align: left;
  border-radius: 5px;
  border-color: #4CAF50;
  border-style: solid;
  border-width: 1px;
  padding: 6px 12px;
}

.slider::-webkit-slider-thumb, .slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb, .slider1::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.zoom, .zoom2 {
  transition: transform .5s;
}

@media only screen and (min-width: 768px) {
  .main {
    width: 100%;
    margin: auto;
    padding: 16px;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    max-width: 1320px;
    margin: auto;
    padding: 16px;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .qm {
    display: block;
    width: 100%;
  }
}