* {
    box-sizing: border-box;
    font-family: Helvetica Neue;
}

#disclaimer {
    background-color: lightgrey;
}

#services {
    background-color: #f2f2f2;
    color: #002933;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

button {
    margin: 8px;
    padding: 8px 16px;
    border-style: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 125%;
    cursor: pointer;
}

button h2,
button h3 {
    font-size: 18px;
    font-weight: normal;
}

footer {
    margin: auto;
    padding: 10px 0px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #004A7C;
    color: white;
    clear: both;
}

header {
    padding: 8px;
    background-color: #004A7C;
    color: white;
    text-align: center;
    font-style: italic;
}

header h1 {
    font-size: 160%;
}

header h2 {
    font-size: 150%;
}

header #phone {
    font-size: 140%;
}

header a {
    text-decoration: none;
    color: white;
    font-style: italic;
}

header a:hover {
    text-decoration: none;
    color: greenyellow;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 150%;
    line-height: normal;
    font-weight: normal
}

h2 {
    font-size: 130%;
    line-height: normal;
    font-weight: normal
}

h3 {
    font-size: 120%;
    line-height: normal;
    font-weight: normal
}

input {
    font-size: 100%;
    text-align: right;
    border-style: none;
    outline: none;
}

main a:hover {
    color: lightgreen;
}

select {
    font-size: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

video {
    width: 100%;
    height: auto;
}

/* Colors *********************************************************************/
.dodger-blue {
    background-color: dodgerblue;
    color: white;
}

.dodger-blue:hover {
    background-color: #004A7C;
    color: lightgreen;
}

.dark-cerulean {
    background-color: #004A7C;
    color: white
}

.dark-cerulean:hover {
    color: lightgreen;
}

.light-gray {
    background-color: #f2f2f2;
    color: #002933;
}

/* Links *********************************************************************/
a {
    font-style: normal;
    text-decoration: none;
    color: dodgerblue;
}

a:hover {
    color: lightgreen;
}

a[href^="http"]::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: ' \f35d';
}

a[href*="www.jimngo.net"]::after,
a[href*="www.realtor.com"]::after,
a[href*="www.mortgagenewsdaily.com"]::after,
a[href*="app.homespotter.com"]::after {
    content: '';
}

.banner a {
    text-decoration: none;
    color: white;
}

.banner a:hover {
    color: lightgreen;
}

.card-body a,
card-header a {
    color: lightgreen;
}

.card-body a:hover,
card-header a:hover {
    color: #004A7C;
}

/* Banner Slides //*****************************************************************************/
.banner {
    width: 100%;
    height: 80px;
    padding: 8px;
    text-transform: uppercase;
    text-align: center;
    border-style: none;
    outline: none;
}

.slide {
    display: none;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.slide.showing {
    display: block;
}

/* Cards *********************************************************************/
.card-title {
    width: 100%;
    height: 62px;
    background-color: lightskyblue;
    font-size: 120%;
    text-transform: uppercase;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

.card-title:hover,
.card-active {
    background-color: dodgerblue;
    color: white;
}

.card-content {
    margin: 0px;
    padding: 16px;
    overflow: hidden;
    transition: max-height 1s ease-out;
    -webkit-transition: max-height 1s ease-out;
    -moz-transition: max-height 1s ease-out;
    -ms-transition: max-height 1s ease-out;
    -o-transition: max-height 1s ease-out;
}

.card-header {
    width: 100%;
    margin: auto;
    padding: 12px;
    background-color: #004A7C;
    color: white;
    font-size: 115%;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
}

.card-header:hover {
    color: lightgreen;
}

.card-header a {
    color: white;
}

.card-header a:hover {
    color: lightgreen;
}

.card-body {
    width: 100%;
    margin: auto;
    padding: 12px;
    background-color: dodgerblue;
    color: white;
    text-align: left;
    font-size: 100%;
    border-radius: 0px 0px 5px 5px
}

/* Widget Slides ************************************************************/
.widget-slide {
    width: 100%;
    margin: auto;
    padding: 0px;
    height: 0px;
    overflow: hidden;
}

.widget-header {
    width: 100%;
    margin: auto;
    padding: 12px;
    background-color: #004A7C;
    color: white;
    font-size: 125%;
    border-radius: 5px 5px 0px 0px
}

.widget-header:hover {
    color: lightgreen;
}

.widget-body {
    width: 100%;
    margin: auto;
    padding: 12px;
    background-color: dodgerblue;
    color: white;
    text-align: left;
    font-size: 100%;
    border-radius: 0px 0px 5px 5px
}

.widget-body a {
    color: lightgreen;
}

.widget-body a:hover {
    color: #002933;
}

.widget-body label:hover {
    color: lightgreen;
}

.widget-submit-container {
    display: flex;
    margin: 12px;
    background: #fed24d;
    color: #313140;
    text-align: center;
    font-size: 18px;
}

/* DTI messages **************************************************************/
.btnSm-dti-1 {
    margin: auto;
    padding: 12px;
    border-style: none;
    outline: none;
    border-radius: 5px;
    background-color: lightgreen;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
}

.btnSm-dti-1:hover,
.btnSm-dti-1:focus {
    background: #238823;
    color: white;
}

.btnSm-dti-2 {
    margin: auto;
    padding: 12px;
    border-style: none;
    outline: none;
    border-radius: 5px;
    background-color: #fbe49d;
    color: #947005;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
}

.btnSm-dti-2:hover,
.btnSm-dti-2:focus {
    background: #fad052;
    color: black;
}

.btnSm-dti-3 {
    margin: auto;
    padding: 12px;
    border-style: none;
    outline: none;
    border-radius: 5px;
    background-color: #e25059;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;
}

.btnSm-dti-3:hover,
.btnSm-dti-3:focus {
    background: #D2222D;
    color: white;
}

.message {
    width: 100%;
    margin: 8px 0px;
    padding: 12px;
    overflow: hidden;
}

/* Button - contained button - high emphasis *********************************/
.active {
    background-color: green;
    color: white;
}

.btn-blue-brdr {
    background-color: white;
}

.btn-blue-brdr:hover {
    background: #004A7C;
    color: lightgreen;
}

.btn-grn-brdr {
    margin: 8px;
    padding: 8px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    background-color: white;
    border-color: green;
    color: green;
    font-size: 100%;
}

.btn-grn-brdr:hover {
    background-color: green;
    color: lightgreen;
}

.widget-submit-btn {
    width: 40%;
    max-width: 180px;
    background-color: white;
}

.widget-submit-btn:hover {
    background: #004A7C;
    color: lightgreen;
}

.widget-submit-btn:focus {
    outline: 0;
}

/* Button - outlined button - medium emphasis/* Button - outlined button - low emphasis/* Button - filled with background color *************************************/
.btn {
    margin: 4px 2px;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-action {
    background: #004a7c;
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-decoration: none
}

.collapsible {
    width: 100%;
    margin: 0px 4px;
    padding: 16px 18px;
    background-color: lightgreen;
    color: black;
    text-align: left;
}

.collapsible:hover,
.collapsible.active {
    background-color: green;
    color: white;
}

.collapsible::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f0fe';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f146";
}

.heading {
    width: 100%;
    margin: 0px 4px 4px 4px;
    padding: 18px;
    background-color: dodgerblue;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 125%;
    border-radius: 5px;
    border-style: none;
    outline: none;
}

.selectable {
    width: 100%;
    margin: 4px;
    padding: 18px;
    background-color: lightgreen;
    color: black;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    border-style: none;
    outline: none;
}

.selectable:hover {
    background-color: green;
    color: white;
}

.disclaimer {
    background-color: lightgrey;
}

/* Blinker *******************************************************************/
.blink {
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* inputContainer ************************************************************/
.inputContainer {
    clear: both;
    background-color: #EEE;
    padding: 4px;
    border: 1px solid #CCC;
    margin: 4px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    box-shadow: inset 0px 1px 0px #fff;
}

.inputTitleContainer {
    clear: both;
    height: auto;
    margin: 10px;
}

.inputTitleContainer::after {
    content: "";
    clear: both;
    display: table;
}

.inputTitle {
    float: left;
    margin: 0px;
}

.inputValue {
    float: right;
    padding: 4px 16px;
    border-style: none;
    border-radius: 5px;
    color: black;
    background-color: white;
    outline: none;
}

.sliderContainer {
    content: "";
    clear: both;
    display: table;
    width: 100%;
    margin: 10px;
}

/* Turn off spinners *********************************************************/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* slider ********************************************************************/
.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 15px;
    border-radius: 5px;
    background: white;
    outline: none;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: lightgreen;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: lightgreen;
    cursor: pointer;
}

/* Other Class Selector ******************************************************/
.border {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.content {
    width: 100%;
    margin: 0px 4px 4px 4px;
    padding: 0 16px;
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 0px;
    overflow: hidden;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-perfect-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #4c4c4c;
    color: white;
    font-size: 16px;
}

.header {
    padding: 8px;
    background: linear-gradient(to right, purple, blue, lightblue);
    color: #f1f1f1;
}

.main {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding: 8px;
}

.note {
    padding: 6px 12px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #4CAF50;
    border-radius: 5px;
}

.pad {
    margin: 10px;
}

.tabcontent {
    display: none;
    text-align: left;
    height: 0px;
    overflow: hidden;
}

/* Font **********************************************************************/
.font-normal {
    font-size: 100%;
}

.font-medium {
    font-size: 125%;
}

.font-large {
    font-size: 150%;
}

.capitalize {
    text-transform: capitalize
}

.uppercase {
    text-transform: uppercase
}

/* Radius ********************************************************************/
.radius-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.radius-round {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.radius-left {
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -ms-border-radius: 5px 0px 0px 5px;
    -o-border-radius: 5px 0px 0px 5px;
}

.radius-top {
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
}

.radius-right {
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
}

.radius-bottom {
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}

/* Mobile ********************************************************************/
@media only screen and (max-width:420px) {
    [class*="col-"] {
        width: 100%;
        padding: 8px;
    }

    .content-ipad {
        display: none;
    }

    .content-desktop {
        display: none;
    }
}

/* iPad Portrait *************************************************************/
@media only screen and (min-width:768px) {
    [class*="col-"] {
        float: left;
        padding: 8px;
    }

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

    .content-mobile {
        display: none;
    }

    .content-ipad {
        display: block;
    }

    .content-desktop {
        display: block;
    }

    .dpa,
    .home-value,
    .refis,
    .sfr {
        font-size: 100%;
    }
}

/* iPad Landscape & Desktop **************************************************/
@media only screen and (min-width:1024px) {
    [class*="col-"] {
        float: left;
        padding: 8px;
    }

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .content-mobile {
        display: none;
    }

    .content-ipad {
        display: none;
    }

    .content-desktop {
        display: block;
    }
}

/* Mobile Contact Bar ********************************************************/
.mobile-contact-bar {
    position: fixed;
    width: 100%;
    background-color: #4599d1;
    color: white;
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 8px;
    z-index: 99;
}

.mobile-contact-bar i {
    font-size: 24px;
    color: white;
}

.mobile-contact-bar a {
    font-size: 16px;
    color: white
}

@media only screen and (min-width:421px) {
    .mobile-contact-bar {
        display: none
    }
}

/* Transition - Sliding Up Down Effect ***************************************/
.slow {
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}

.medium {
    transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
}

.fast {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}