<!doctype html>
<html>

<head>
	<title>Conventional 1% Down with Equity Boost</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Purchase your home with just 1% down.">
	<meta property="og:url" content="https://www.jimngo.net/1-percent-down.html" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Conventional 1% Down with Equity Boost" />
	<meta property="og:description" content="CPurchase your home with just 1% down." />
	<meta property="og:image" content="image\1percentdown.png" />
	<base href="https://www.jimngo.net/" target="_blank">
	<link rel="icon" href="image/favicon-16x16.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="style\1-percent-down.css">
	<link rel="canonical" href="https://www.jimngo.net/1-percent-down.html">
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KTG237B');
	</script>
	<!-- End Google Tag Manager -->
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "LocalBusiness",
			"name": "Real Estate | Home Loan | Life Insurance | Jim Ngo - Ontario, CA",
			"image": "https://pbs.twimg.com/profile_images/781496914013360128/XxW1orwI_400x400.jpg",
			"telephone": "909-248-4453",
			"priceRange": "$$",
			"email": "jim.ngo@outlook.com",
			"address": {
				"@type": "PostalAddress",
				"streetAddress": "800 N Haven Ave Ste 370",
				"addressLocality": "Ontario",
				"addressRegion": "CA",
				"addressCountry": "USA",
				"postalCode": "91761"
			},
			"url": "http://www.jimngo.net/"
		}
	</script>
	<script type="application/ld+json">
		{
			"@context": "http://schema.org/",
			"@type": "Person",
			"name": "Jim Ngo",
			"url": "https://www.jimngo.net/",
			"image": "https://pbs.twimg.com/profile_images/781496914013360128/XxW1orwI_400x400.jpg",
			"sameAs": [
				"https://www.facebook.com/jimngo.realtor/",
				"https://plus.google.com/108848273800866757190",
				"https://www.linkedin.com/in/jimsngo/",
				"https://jimngo.info/",
				"https://realtor.jimngo.info/",
				"https://insurance.jimngo.info/",
				"https://www.showingnew.com/jimngo",
				"https://jimsngo.myrealestateplatform.com/",
				"http://cloudcma.com/api_widget/348f96646d0a223f5fa34f124f60dfeb/show?post_url=cloudcma.com&source_url=ua",
				"https://www.workforce-resource.com/dpr/lopmt/MWFW?branch=jim.ngo@outlook.com&phone=909-510-9479"
			]
		}
	</script>
	<script type="application/ld+json">
		{
			"@context": "http://schema.org/",
			"@type": "SoftwareApplication",
			"aggregateRating": {
				"@type": "AggregateRating",
				"ratingValue": "5",
				"ratingCount": "1"
			},
			"name": "Loanzify Mortgage App",
			"operatingSystem": "iPhone & Android",
			"applicationCategory": "http://schema.org/GameApplication",
			"offers": {
				"@type": "Offer",
				"price": "0.00",
				"priceCurrency": "USD"
			},
			"installUrl": "https://loanzify.com/get/w0N1/"
		}
	</script>
	<!-- Default Statcounter code for Jimngo.net
	    https://www.jimngo.net -->
	<script type="text/javascript">
		var sc_project = 11893871;
		var sc_invisible = 1;
		var sc_security = "b16c17b8";
	</script>
	<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
	<noscript>
		<div class="statcounter"><a title="Web Analytics" href="http://statcounter.com/" target="_blank"><img
					class="statcounter" src="//c.statcounter.com/11893871/0/b16c17b8/1/" alt="Web Analytics"></a></div>
	</noscript>
	<!-- End of Statcounter Code -->
	<!-- Facebook Pixel Code -->
	<script>
		! function (f, b, e, v, n, t, s) {
			if (f.fbq) return;
			n = f.fbq = function () {
				n.callMethod ?
					n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n;
			n.push = n;
			n.loaded = !0;
			n.version = '2.0';
			n.queue = [];
			t = b.createElement(e);
			t.async = !0;
			t.src = v;
			s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '1149243855093416');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=1149243855093416&ev=PageView&noscript=1" /></noscript>
	<!-- End Facebook Pixel Code -->

</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTG237B" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<!-- Facebook Share -->
	<div id="fb-root"></div>
	<script>
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<!-- End Facebook Share -->
	<div class="header" id="myHeader">
		<div class="header1">
			<h3>Real Estate Agent | Home Loan<br />Jim Ngo - Ontario, CA</h3>
		</div>
		<div class="header2"><a href="sms:+1-909-510-9479" target="_blank"><img src="image\message-30.png"></a></div>
		<div class="header2"><a href="tel:909-248-4453" target="_blank"><img src="image\call-30.png"></a></div>
		<div class="header2"><a href="mailto:jimngo.realtor@gmail.com" target="_blank"><img src="image\email-30.png"></a>
		</div>
	</div>
	<div class="wrapper">
		<h1>Purchase your home with just 1% down</h1>
		<img src="image\1percentdown.png" width="100%">
		<h2>United Mortgage Fund is excited to offer the Conventional 1% Down with Equity Boost loan program</h2>
		<ul>
			<li>You put down 1%, your lender contributes 2%*, giving you 3% equity at closing</li>
			<li>Great low rates</li>
			<li>Close in 30 days or less</li>
			<li>Conventional 30-year fixed program</li>
			<li>Available with no monthly Mortgage Insurance</li>
			<span class="disclaimer">*2% lender contribution may only be applied to down payment</span>
		</ul>
		<h3>there’s no reason to wait.<br />
			<span style="color: #F16F37">Call today and get the home you’ve always wanted.</span></h3>
		<div class="fb-share-button" data-href="https://www.jimngo.net/1-percent-down" data-layout="button_count"
			data-size="large" data-mobile-iframe="true"><a target="_blank"
				href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.jimngo.net%2F&amp;src=sdkpreparse"
				class="fb-xfbml-parse-ignore">Share</a>
		</div>
	</div>
</body>
<footer>
	<div class="footer" style="text-align:center">
		<div class="col-6 col-s-6">
			<span><img src="image\profile.gif"></span>
			<p>JIM NGO<br />
				BRE 01164334 | NMLS 1353214</p>
			<p><input type="button" class="phoneButton" value="(909) 248-4453" onclick="window.open('tel:909-248-4453');" />
			</p>
			<p>UNITED EMPIRE REALTY<br />
				800 North Haven Avenue, Suite 370, Ontario, CA 91764</p>
			<p>
				<a href="sms:+1-909-510-9479" target="_blank"><img src="image\message-30.png" style="padding-right: 20px"></a>
				<a href="tel:909-248-4453" target="_blank"><img src="image\call-30.png" style="padding-right: 20px"></a>
				<a href="mailto:jimngo.realtor@gmail.com" target="_blank"><img src="image\email-30.png"
						style="padding-right: 20px"></a>
				<a href="https://www.facebook.com/jimngo.realtor/" target="_blank"><img src="image\facebook-30.png"
						style="padding-right: 20px"></a>
			</p>
		</div>
		<div class="col-6 col-s-6">
			<span><img src="image\EHO.png"></span>
			<p>UNITED MORTGAGE FUND<br />
				Licensed Real Estate Corporation by the California Bureau of Real Estate. <br />
				Corporate Broker # 01952954<br />
				NMLS # 1194303
			</p>
		</div>
	</div>
</footer>

</html>