<!-- Mortgage Income Calculator-->
<head><link rel="stylesheet" href="https://www.jimngo.net/style/style.css"></head> 
<section class="calculator">
    <div class="main">
        <div class="row center">
            <div class="col-4 col-s-6">
                <button class="heading" onclick="house()"><span id="loanProgram"></span> <span id="DP1%"></span> % Down</button>
                <div id="house">
                    <p>Loan Program:
                        <select id="mySelect" onchange="calc()">
                            <option value="FHA" selected>FHA</option>
                            <option value="VA">VA</option>
                            <option value="Conventional">Conventional</option>
                            <option value="USDA">USDA</option>
                            <option value="Jumbo">Jumbo</option>
                        </select>
                    </p>
                    <p>Purchase Price: $<span id="PP"></span></p>
                    <input type="range" min="100000" max="700000" value="300000" step="10000" class="slider" id="pp" oninput="calc()">
                    <p class="note" id="loanMaxNote" style="display: none; text-align: left; padding: 5px,5px,5px,5px;">Note: Every loan program has its loan limit which varies by county. Please visit <a href="https://entp.hud.gov/idapp/html/hicostlook.cfm" rel="nofollow" target="_blank">HUD</a> for limits on FHA loans, <a href="https://www.benefits.va.gov/HOMELOANS/purchaseco_loan_limits.asp" target="_blank">VA</a> for limits on VA loans, and <a href="https://www.fhfa.gov/DataTools/Downloads/Pages/Conforming-Loan-Limits.aspx" rel="nofollow" target="_blank">FHFA</a> for limits on Conventional loans. Loans exceeding conforming loan limits are considered Jumbo Loans.</p>
                    <p class="note" id="jumboLoan" style="display: none; text-align: left; padding: 5px,5px,5px,5px;">Jumbo loans has minimum loan amounts which must be higher than conforming loan limits, and varies by counties. Please visit <a href="https://www.fhfa.gov/DataTools/Downloads/Pages/Conforming-Loan-Limits.aspx" rel="nofollow" target="_blank">FHFA</a> to check for conforming loan limit in your county.</p>
                    <p class="tooltip">Down Payment: $<span id="DP$"></span> (<span id="DP%"></span> %)<span class="tooltiptext">Mortgage Insurance is required for down payment &lt; 20%</span></p>
                    <input type="range" min="0.0" max="50" value="3.5" step="0.5" class="slider" id="dp" oninput="calc()" />
                    <p>Current Monthly Debt: $<span id="ML"></span></p>
                    <input id="ml" type="range" class="slider" min="0" max="2000" step="50" value="400" oninput="calc()" />
                </div>
                <p></p>
                <button class="heading" onclick="mortgage()"><span id="LT"></span> yrs @ <span id="APR1%"></span> %</button>
                <div id="mortgage">
                    <p>Loan Term:
                        <select id="mySelect2" onchange="calc()">
                            <option value="15 Yrs">15 Years
                            <option value="30 Yrs" selected>30 Years
                        </select>
                    </p>
                    <p>Interest Rate: <span id="APR%"></span> %</p>
                    <input type="range" min="1" max="10" value="5" step="0.125" class="slider" id="apr" oninput="calc()" />
                </div>
                <p></p>
                <button class="heading" onclick="qualify()" style="background: linear-gradient(to right,green,yellow,red); color: black">Qualifying Debt Ratios: (<span id="EFR1%"></span>/<span id="EBR1%"></span>)</button>
                <div id="qualify">
                    <p class="tooltip">Qualifying Front Ratio: <span id="EFR%"></span> %<span class="tooltiptext">Debt to income ratios will set the limit on how much you can borrow.</span></p>
                    <input id="efr" type="range" class="slider1" min="30" max="50" step="1" value="37" oninput="calc()" />
                    <p class="tooltip">Qualifying Back Ratio: <span id="EBR%"></span> %<span class="tooltiptext">FHA conservative ratios are 31/43 for front and back ratios, aggressive ratios are 37/47</span></p>
                    <input id="ebr" type="range" class="slider1" min="30" max="50" step="1" value="47" oninput="calc()" />
                </div>
                <p></p>
                <button class="heading" onclick="tax()">Property Tax: <span id="PT1%"></span><span> %</span><br/>Mortgage Insurance: <span id="MI1%"></span><span> %</button>
                <div id="tax">
                    <p class="tooltip">Property Tax Annual Rate: <span class="tooltiptext">Property Tax is normally 1.20% of the purchased price annually. Please confirm rate with the county</span><span id="PT%"></span> %</p>
                    <input type="range" min="0.5" max="1.5" value="1.25" step="0.05" class="slider" id="pt" oninput="calc()" />
                    <p class="tooltip">Mortgage Insurance Annual Rate: <span class="tooltiptext">Mortgage Insurance is usually between 0.5% to 1.0% of the loan amount annually. For FHA, MI is 0.85% for Down Payment &lt; 5%, and 0.80% for Down Payment &gt;= 5%. For VA, there is no MI.</span><span id="MI%"></span> %</p>
                    <input type="range" min="0.5" max="1.0" value=".75" step="0.05" class="slider" id="mi" oninput="calc()" />
                </div>
            </div>
            <div class="col-4 col-s-6">
                <button class="heading" onclick="loanamount()" style="background-color: dodgerblue">REQUIRED MONTHLY INCOME: $<span id="TMI"></span></button>
                <div id="loanamount">
                    <p>Required Down Payment: $<span id="DP"></span></p>
                    <P>Loan Amount: $<span id="P"></span></P>
                </div>
                <p></p>
                <button class="heading" onclick="payments()" style="background-color:blueviolet">HOUSING EXPENSES: $<span id="MP"></span></button>
                <div id="payments">
                    <p>Principal & Interest: $<span id="PI"></span></p>
                    <p>Property Tax: $<span id="T"></span></p>
                    <p>Mortgage Insurance: $<span id="I"></span></p>
                    <p>Homeowner Insurance: $<span id="HOI"></span></p>
                    <p>Actual Front Ratio: <span id="AFR"></span><span> %</span></p>
                    <input class="slider1" id="FR%" max="50" min="30" step="1" type="range" />
                    <p>Actual Back Ratio: <span id="ABR"></span><span> %</span></p>
                    <input class="slider1" id="BR%" max="50" min="30" step="1" type="range" />
                    <p class="note" id="dtiNote" style="display: none; text-align: left; padding: 5px,5px,5px,5px;">Note: <span style="color: green">Conservative DTI ratios are 31/43</span>, <span style="color: red">Aggressive ratios are 37/47</span>. Manual Underwriting may allow ratios to go up to 40/50 with 2 compensating factors. Ratios over 50% will likely be denied.</p>
                </div>
                <p></p>
                <button id="ratio" class="heading" onclick="ratios()" style="background: linear-gradient(to right,green,yellow,red); color: black"><span id="dtim"></span></button>
            </div>
            <!-- Loan Program Notes -->
            <div class="col-4 col-s-12">             
                <div id="FHA" class="tabcontent">
                    <button class="heading">FHA Loan Advantages</button>
                    <ul>
                        <li>The Federal Housing Administration (FHA) - which is part of HUD - insures the loan, so your lender can offer you a better deal.</li>
                        <li>Down payment as low as 3.5%. Gift funds accepted, family members are welcome to help out with your down payment.</li>
                        <li>Mortgage Insurance includes an Upfront Funding Fee of 1.75% of the loan amount, typically financed into the loan, and an annual insurance premium of 0.85%, which will be lumped into the monthly payment. For down payment of 5% or more, the annual insurance premium will be 0.80%.</li>
                        <li>FHA has loan limit which varies by county. Please visit <a href="https://entp.hud.gov/idapp/html/hicostlook.cfm" rel="nofollow" target="_blank"> HUD </a>to check the loan limit for your county. Below are loan limits for local counties in southern California:</li>
                        <ul>
                            <li>San Bernardino - $405,950</li>
                            <li>Los Angeles - $679,650</li>
                            <li>Orange - $679,650</li>
                        </ul>
                        <li><a href="https://realtor.jimngo.info/p/down-payment-assistance.html" target="_blank">CalHFA MyHome</a> - Down Payment Assistance - First Time Home Buyer</li>
                        <li><a href="https://realtor.jimngo.info/2018/01/reverse-mortgage.html" target="_blank">Reverse Mortgage</a> - Are you 62 or older? Do you live in your home? Do you own it outright or have a low loan balance? If you can answer "yes" to all of these questions, then the FHA Reverse Mortgage might be right for you. It lets you convert a portion of your equity into cash.</li>
                    </ul>
                </div>               
                <div id="VA" class="tabcontent">
                    <button class="heading">VA Loan Advantages</button>  
                    <ul>
                        <li>No down payment as long as the sales price doesn't exceed the appraised value.</li>
                        <li>No private mortgage insurance premium requirement.</li>
                        <li>Upfront Funding Fee typically at 2.15% and can be financed into the loan. The actual funding fee for VA loans varies based on several factors, such as nature of service, down payment and first-time use</li>
                        <li>VA rules limit the amount you can be charged for closing costs.</li>
                        <li>Closing costs may be paid by the seller.</li>
                        <li>The lender can't charge you a penalty fee if you pay the loan off early.</li>
                        <li>VA may be able to provide you some assistance if you run into difficulty making payments.</li>
                    </ul>
                    <p>You should also know that:</p>
                    <ul>
                        <li>You don't have to be a first-time homebuyer.</li>
                        <li>You can reuse the benefit.</li>
                        <li>VA-backed loans are assumable, as long as the person assuming the loan qualifies.</li>
                    </ul>
                    <p>Learn more about VA Home Loans:</p>
                    <ul>
                        <li><a href="https://www.benefits.va.gov/HOMELOANS/purchaseco_eligibility.asp" rel="nofollow" target="_blank">Eligibility</a></li>
                        <li><a href="https://www.benefits.va.gov/HOMELOANS/purchaseco_buy_process.asp" rel="nofollow" target="_blank">Buying Process</a></li>
                        <li><a href="https://www.benefits.va.gov/HOMELOANS/purchaseco_certificate.asp" rel="nofollow" target="_blank">Getting a Certificate of Eligibility</a></li>
                        <li><a href="https://www.benefits.va.gov/homeloans/purchaseco_loan_limits.asp" rel="nofollow" target="_blank">Loan Limits</a></li>
                        <li><a href="https://www.benefits.va.gov/HOMELOANS/documents/docs/guaranty_calculation_examples.pdf" rel="nofollow" target="_blank">Guaranty Calculation Examples</a></li>
                    </ul>
                </div>              
                <div id="Conventional" class="tabcontent">
                    <button class="heading">Conventional</button>  
                    <p>Don't have a big down payment? FHA's not your only option. Get a conventional 3% down loan.</p>
                    <ul>
                        <li>Down payment as low as 3% (even for first-time homebuyers).</li>
                        <li>Reduce or even eliminate monthly Mortgage Insurance.</li>
                        <li>Usually faster, easier and with a lower monthly payment than FHA.</li>
                        <li>Use gift funds for your entire down payment.</li>
                        <li>Conventional has loan limit which varies by county. Please visit <a href="https://www.fhfa.gov/DataTools/Downloads/Pages/Conforming-Loan-Limits.aspx" rel="nofollow" target="_blank">FHFA</a> to check the loan limit for your county. Below are loan limits for local counties in southern California:</li>
                        <ul>
                            <li>San Bernardino - $484,350</li>
                            <li>Los Angeles - $726,525</li>
                            <li>Orange - $726,525</li>
                        </ul>
                    </ul>
                </div>              
                <div id="USDA" class="tabcontent">
                    <button class="heading">USDA</button>
                    <p>Purchase a rural home with no money down.</p>
                    <ul>
                        <li>100% financing - No down payment.</li>
                        <li>Seller credits may help pay for closing costs.</li>
                        <li>1% Upfront Funding Fee, paid at closing and typically financed into the loan.</li>
                        <li>Mortgage Insurance annual fee of 0.35% of the loan amount, lumped into the monthly payment and is paid for the life of the loan.</li>
                    </ul>
                    <p>Learn more about USDA Loan:</p>
                    <ul>
                        <li><a href="https://eligibility.sc.egov.usda.gov/eligibility/welcomeAction.do" rel="nofollow" target="_blank">Property Eligibility</a></li>
                        <li><a href="https://eligibility.sc.egov.usda.gov/eligibility/incomeEligibilityAction.do?pageAction=state" rel="nofollow" target="_blank">Income Eligibility</a></li>
                        <li><a href="https://www.rd.usda.gov/files/RD-GRHLimitMap.pdf" rel="nofollow" target="_blank">Income Limit</a></li>
                    </ul>
                </div>               
                <div id="Jumbo" class="tabcontent">
                    <button class="heading">Jumbo Loan</button>
                    <ul>
                        <li>For loan amounts exceeding conforming loan limit</li>
                        <li>20% down payment is typically required, however, there are programs that will require only 10% down.</li>
                        <li>No mortgage insurance</li>
                        <li>Great fixed-rate and ARM loans available</li>
                        <li>Starting at 720 FICO.</li>
                        <li>Please visit <a href="https://www.fhfa.gov/DataTools/Downloads/Pages/Conforming-Loan-Limits.aspx" target="_blank">FHFA</a> to check the conforming loan limit for your county. Below are minimum loan amounts for local counties in southern California:</li>
                        <ul>
                            <li>San Bernardino - $484,350</li>
                            <li>Los Angeles - $726,525</li>
                            <li>Orange - $726,525</li>
                        </ul>
                    </ul>
                </div>                    
            </div>      
        </div>
    </div>
</section>
<script src="https://www.jimngo.net/javascript/income-calc-Ob.js"></script>