<link rel="icon" href="image/favicon-16x16.png" type="image/gif" sizes="16x16">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<div class="flex-container">
    <a href="tel:909-510-9479"><i class="material-icons" style="font-size:36px; color:black; padding-right: 20px">call</i></a>
    <a href="https://m.me/jimngo.realtor?fbclid=IwAR3ADIVNC_z-bbeRJ3FVvU2v8KM4u0BXLRa4KASlEvtxnyAifxYCsaBCmeA" target="_blank"><i class="fab fa-facebook-messenger" style="font-size:36px; color:black; padding-right: 20px"></i></a>
    <a href="mailto:jim.ngo@outlook.com"><i class="material-icons" style="font-size:36px;color:black; padding-right: 20px">email</i></a>
    <a href="https://business.facebook.com/jimngo.realtor/" target="_blank"><i class='fab fa-facebook' style="font-size:36px; color:black; padding-right: 20px"></i></a>
</div>