<link rel="icon" href="image/favicon-16x16.png" type="image/gif" sizes="16x16">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://www.jimngo.net/style/style.css">
<div class="flex-container">
    <div class="col-4 col-s-4">
        <h3 class="green border">Looking To Purchase A Home?</h3>
        <div class="pad">
            <p>1. Make sure your credit is in good shape</p>
                <ul>
                    <li>Excellent Credit: 750+</li>
                    <li>Good Credit: 700-749</li>
                    <li>Fair Credit: 650-699</li>
                    <li>Poor Credit: 600-649</li>
                </ul>
            <p>Try to get your credit card balances below 40% of the limit. It's best to have at least 3 open and active accounts listed on your credit report</p>
            <p>2. If you're renting, pay by check</p>
            <p>Having documented proof of your last 12 months of payments is often required by the lender</p>
            <p>3. Obtain proof of employment for the past 2-years</p>
            <ul>
                <li>W2s and tax returns</li>
                <li>Paystubs covering 30 days</li>
                <li>Be prepared to explain any gaps in employment</li>
            </ul>
        </div>	
    </div>
    <div class="col-4 col-s-4">
        <h3 class="yellow border">How Much House Can You Afford?</h3>
        <div class="pad">
            <p>Before you start shopping for a new home, determine how much you can afford to spend.</p>
            <p>Here are a few things to consider:</p>
            <ul>
                <li>Your monthly income</li>
                <li>Your available funds for down payment</li>
                <li>Your monthly expenses</li>
                <li>Your credit score</li>
            </ul>
            <p>It's important to consider getting pre-approved from a licensed mortgage professional. An Independent Mortgage Professional will be able to offer you several loan options and find the best available loan program for your needs.</p>
        </div>
    </div>
    <div class="col-4 col-s-4">
        <h3 class="blue border">6 Things Not To Do When Applying For A Mortgage</h3>
        <div class="pad">
            <p>When lenders review your application, they like to see consistency in your finances.</p>
            <ul>
                <li>Do not make major purchases like furniture, appliances, jewelry, vehicles or vacations</li>
                <li>Don't change or quit your job</li>
                <li>Consult with your mortgage professional before withdrawing, depositing, or moving large amounts of money in or out of your bank account</li>
                <li>Do not pay off debts or collections (unless instructed to do so by a mortgage professional)</li>
                <li>Avoid using cash for a good-faith deposit - cash is difficult to verify and could result in a closing delay</li>
                <li>Don't have your credit report pulled too many times - this can hurt your credit score</li>
            </ul>
        </div>
    </div>
</div>