<link rel="stylesheet" href="https://www.jimngo.net/style/style.css">
<div class="more-calc">
    <p></p>
    <button class="collapsible">More Mortgage Calculators</button>
    <div class="content">
        <div class="linkmenu">
            <input class="button5" type="button" value="FHA Morgage Calculator" onclick="window.open('https://www.jimngo.net/fha-prequalification-calculator');"/>
            <input class="button5" type="button" value="Affordability Calculator" onclick="window.open('https://www.jimngo.net/mortgage-affordability-calculator.html');"/>
            <input class="button5" type="button" value="Income Requirement Calculator" onclick="window.open('https://www.jimngo.net/mortgage-income-calculator');"/>
            <input class="button5" type="button" value="Extra Payment Calculator" onclick="window.open('https://www.jimngo.net/extra-payment-calculator');"/>
            <input class="button5" type="button" value="Loanzify Mortgage App" onclick="window.open('https://loanzify.com/get/w0N1/');"/>
        </div>
    </div>
    <p></p>
</div>
<script src="https://www.jimngo.net/javascript/calc-Ob.js"></script>