<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="subject" content="Real Estate, Home Loan, Life Insurance">
  <meta name="language" content="English">
  <meta name="robots" content="index,follow">
  <meta name="author" content="Jim Ngo" />
  <meta name="copyright" content="Jim Ngo" />
  <meta property="og:url" content="https://www.jimngo.net/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <link rel="canonical" href="">
  <link rel="icon" href="image/favicon-16x16.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="style/style.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'
    integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Default Statcounter code for https://www.jimngo.net -->
  <script type="text/javascript">
    var sc_project = 11893871;
    var sc_invisible = 1;
    var sc_security = "b16c17b8";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="Web Analytics" href="http://statcounter.com/" target="_blank"><img
          class="statcounter" src="//c.statcounter.com/11893871/0/b16c17b8/1/" alt="Web Analytics"></a>
    </div>
  </noscript>
  <!-- End of Statcounter Code -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88549125-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-88549125-1');
  </script>

  <!-- Global site tag (gtag.js) - Google Ads: 935673147 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-935673147"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'AW-935673147');
  </script>
  <script>
    gtag('event', 'page_view', {
      'send_to': 'AW-935673147',
      'dynx_itemid': 'replace with value',
      'listing_id': 'replace with value'
    });
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    ! function (f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1149243855093416');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1149243855093416&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->

  <!-- JSON LD -->
  <script type="application/ld+json"> {
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "name": "Real Estate | Home Loan | Life Insurance | Jim Ngo - Ontario, CA",
  "image": "https://pbs.twimg.com/profile_images/781496914013360128/XxW1orwI_400x400.jpg",
  "telephone": "909-248-4453",
  "priceRange": "$$",
  "email": "jim.ngo@outlook.com",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "800 N Haven Ave Ste 370",
    "addressLocality": "Ontario",
    "addressRegion": "CA",
    "addressCountry": "USA",
    "postalCode": "91761"
    },
  "url": "http://www.jimngo.net/"
  }
</script>
  <script type="application/ld+json"> {
  "@context": "http://schema.org/",
  "@type": "Person",
  "name": "Jim Ngo",
  "url": "https://www.jimngo.net/",
  "image": "https://pbs.twimg.com/profile_images/781496914013360128/XxW1orwI_400x400.jpg",
  "sameAs": [
    "https://www.facebook.com/jimngo.realtor/",
    "https://plus.google.com/108848273800866757190",
    "https://www.linkedin.com/in/jimsngo/",
    "https://jimngo.info/",
    "https://realtor.jimngo.info/",
    "https://insurance.jimngo.info/",
    "https://www.showingnew.com/jimngo",
    "https://jimsngo.myrealestateplatform.com/",
    "http://cloudcma.com/api_widget/348f96646d0a223f5fa34f124f60dfeb/show?post_url=cloudcma.com&source_url=ua",
    "https://www.workforce-resource.com/dpr/lopmt/MWFW?branch=jim.ngo@outlook.com&phone=909-510-9479",
    "http://www.jimngorealtor.com/"
    ]
  }
</script>
  <script type="application/ld+json"> {
  "@context": "http://schema.org/",
  "@type": "SoftwareApplication",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "5",
    "ratingCount": "1"
    },
  "name": "Loanzify Mortgage App",
  "operatingSystem": "iPhone & Android",
  "applicationCategory": "http://schema.org/GameApplication",
  "offers": {
    "@type": "Offer",
    "price": "0.00",
    "priceCurrency": "USD"
    },
  "installUrl": "https://loanzify.com/get/w0N1/"
  }
</script>
</head>

<body>
  <!-- Facebook Share -->
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <!-- End Facebook Share -->
  <section class="header center">
    <h2>Real Estate Agent - Home Loan <br />Jim Ngo - Ontario, CA</h2>
    <div class="flex-container">
      <a href="tel:909-510-9479"><i class="material-icons zoom"
          style="font-size:36px; color:white; padding-right: 30px">call</i></a>
      <a href="https://m.me/jimngo.realtor?fbclid=IwAR3ADIVNC_z-bbeRJ3FVvU2v8KM4u0BXLRa4KASlEvtxnyAifxYCsaBCmeA"
        target="_blank"><i class="fab fa-facebook-messenger zoom"
          style="font-size:36px; color:white; padding-right: 30px"></i></a>
      <a href="mailto:admin@jimngo.info"><i class="material-icons zoom"
          style="font-size:36px;color:white; padding-right: 30px">email</i></a>
    </div>
  </section>
  <section class="section1">
    <div class="main">
      <h1></h1>
      <p></p>
    </div>
  </section>


  <!-- Services Section -->
  <section>
    <div class="main">
      <div class="flex-container center">
        <div class="col-4 col-s-4">
          <p class="zoom"><i class="fas fa-home" style='font-size:48px; color:#002933; cursor: pointer;'
              onclick="window.open('https://www.epropertywatch.com/homeownerPage/N1dk25Yz');"></i></p>
          <h3 style="font-size:150%;">Home Valuation</h3>
          <div class="pad">
            <ul style="text-align:left">
              <li>Do you want to know what your home is worth?</li>
              <li>Are you curious about nearby homes that are for sale or recently sold?</li>
              <li>How about how much your home might be worth in the next two years?</li>
            </ul>
          </div>
        </div>
        <div class="col-4 col-s-4">
          <p class="zoom"><i class="fas fa-dollar-sign" style='font-size:48px; color:#002933; cursor: pointer;'
              onclick="window.open('https://www.workforce-resource.com/dpr/lopmt/MWFW?branch=jim.ngo@outlook.com&phone=909-510-9479');"></i><br />
          </p>
          <h3 style="font-size:150%;">Down Payment Resource</h3>
          <div class="pad">
            <p style="text-align:left">Are you a first-time home-buyer needing a little help with your down
              payment and/or closing costs? Down payment money is out there, and I’ll help you find it</p>
          </div>
        </div>
        <div class="col-4 col-s-4">
          <p class="zoom"><i class="fas fa-user-check" style='font-size:48px; color:#002933; cursor: pointer;'
              onclick="window.open('https://realtor.jimngo.info/p/short-sale-foreclosure.html');"></i><br /></p>
          <h3 style="font-size:150%;">Short Sale Foreclosure Resource</h3>
          <div class="pad">
            <p style="text-align:left">If you or someone you know is facing foreclosure or unable to make
              mortgage payments, know that there are OPTIONS available and PEOPLE you can trust. Call me
              today to turn the "heavy lifting" over to someone who can help.</p>
          </div>
        </div>
      </div>
      <div class="flex-container center">
        <div class="col-4 col-s-4">
          <p class="zoom"><i class='fas fa-calculator' style='font-size:48px;color: #002933; cursor: pointer;'
              onclick="window.open('https://www.jimngo.net/mortgage-prequalification-calculator');"></i></p>
          <h3 style="font-size:150%;">Mortgage Calculator</h3>
          <p class="pad" style="text-align:left">Do you want to know how much home you can afford? Use my Mortgage
            Calculator to compute your monthly payment including Principal & Interest, Tax & Mortgage Insurance.
            Estimate how much house you can afford.</p>
          <input class="button1 zoom2" type="button" value="&#128176; Home Affordability"
            onclick="window.open('https://www.jimngo.net/mortgage-affordability-calculator');" />
          <input class="button1 zoom2" type="button" value="&#128178; Income Requirement"
            onclick="window.open('https://www.jimngo.net/mortgage-income-calculator');" />
        </div>
        <div class="col-4 col-s-4">
          <p class="zoom"><i class="fa fa-institution" style="font-size:48px;color:#002933; cursor: pointer;"
              onclick="window.open('https://www.jimngo.net/reverse-mortgage-calculator.html');"></i><br />
          </p>
          <h3 style="font-size:150%;">Reverse Mortgage</h3>
          <div class="pad">
            <p style="text-align:left">You’ve worked hard to build the equity in your home. Now it’s time to put that
              equity to work for you. Use my free reverse mortgage calculator to determine how much you may qualify for.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="javascript/calc-Ob.js"></script>
<footer class="footer center">
  <div class="col-6 col-s-6">
    <div><img src="image\profile-100.gif"></div>
    <p style="font-size: 150%">Jim Ngo</p>
    <p>United Empire Realty<br />
      BRE 01164334 | NMLS 1353214</p>
    <p><input type="button" class="button6 zoom2" value="(909) 510-9479" onclick="window.open('tel:909-510-9479');" />
    </p>
    <div class="flex-container">
      <a href="tel:909-510-9479"><i class="material-icons zoom"
          style="font-size:36px; color:#4599d1; padding-right: 20px">call</i></a>
      <a href="https://m.me/jimngo.realtor?fbclid=IwAR3ADIVNC_z-bbeRJ3FVvU2v8KM4u0BXLRa4KASlEvtxnyAifxYCsaBCmeA"
        target="_blank"><i class="fab fa-facebook-messenger zoom"
          style="font-size:36px; color:#4599d1; padding-right: 20px"></i></a>
      <a href="mailto:jim.ngo@outlook.com"><i class="material-icons zoom"
          style="font-size:36px;color:#4599d1; padding-right: 20px">email</i></a>
      <a href="https://business.facebook.com/jimngo.realtor/" target="_blank"><i class='fab fa-facebook zoom'
          style="font-size:36px; color:#4599d1; padding-right: 20px"></i></a>
    </div>
    <p>&copy; 2019 Jim Ngo, Realtor - Ontario CA</p>
  </div>
  <div class="col-6 col-s-6">
    <div><img src="image\EHO.png"></div>
    <p style="font-size: 150%">UNITED MORTGAGE FUND</p>
    <p>Licensed Real Estate Corporation by the California Bureau of Real Estate. <br />
      Corporate Broker # 01952954 | NMLS # 1194303</p>
  </div>
</footer>