<!doctype html>
<html>

<head>
    <title>Non-QM Loan Programs| Jim Ngo - Ontario, CA</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="home loan">
    <meta name="description" content="We're Licensed Mortgage Professionals, and home to so much more than what big banks offer.">
    <meta name="subject" content="Home Loan">
    <meta name="language" content="English">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Jim Ngo" />
    <meta name="copyright" content="Jim Ngo" />
    <meta property="og:url" content="https://www.jimngo.net/home-loan.html" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home Loan | Jim Ngo - Ontario, CA" />
    <meta property="og:description" content="We're Licensed Mortgage Professionals, and home to so much more than what big banks offer." />
    <meta property="og:image" content="image\lower rates.jpg" />
    <link rel="icon" href="image/favicon-16x16.png" type="image/gif" sizes="16x16">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
        crossorigin='anonymous'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="style\style.css">
    <link rel="canonical" href="https://www.jimngo.net/non-qm-loan.html">
    <style>
        .sidebar { margin: 0; padding: 0; width: 200px; background-color: #f1f1f1; position: fixed; height: auto; overflow: auto; }
        .sidebar a { display: block; color: black; padding: 16px; text-decoration: none; }
        .sidebar a.active { background-color: #4CAF50; color: white; }
        .sidebar a:hover:not(.active) { background-color: #555; color: white; }
        div.content { margin-left: 200px; padding: 1px 16px; height: 1000px; }
        @media screen and (max-width: 700px) { .sidebar { width: 100%; height: auto; position: relative; } .sidebar a {float: left;} div.content {margin-left: 0;} }
        @media screen and (max-width: 400px) { .sidebar a { text-align: center; float: none; } }
        </style>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KTG237B');
    </script>
    <!-- End Google Tag Manager -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "Real Estate | Home Loan | Life Insurance | Jim Ngo - Ontario, CA",
            "image": "https://pbs.twimg.com/profile_images/781496914013360128/XxW1orwI_400x400.jpg",
            "telephone": "909-248-4453",
            "priceRange": "$$",
            "email": "jim.ngo@outlook.com",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "800 N Haven Ave Ste 370",
                "addressLocality": "Ontario",
                "addressRegion": "CA",
                "addressCountry": "USA",
                "postalCode": "91761"
            },
            "url": "http://www.jimngo.net/"
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Person",
            "name": "Jim Ngo",
            "url": "https://www.jimngo.net/",
            "image": "https://pbs.twimg.com/profile_images/781496914013360128/XxW1orwI_400x400.jpg",
            "sameAs": [
                "https://www.facebook.com/jimngo.realtor/",
                "https://plus.google.com/108848273800866757190",
                "https://www.linkedin.com/in/jimsngo/",
                "https://jimngo.info/",
                "https://realtor.jimngo.info/",
                "https://insurance.jimngo.info/",
                "https://www.showingnew.com/jimngo",
                "https://jimsngo.myrealestateplatform.com/",
                "http://cloudcma.com/api_widget/348f96646d0a223f5fa34f124f60dfeb/show?post_url=cloudcma.com&source_url=ua",
                "https://www.workforce-resource.com/dpr/lopmt/MWFW?branch=jim.ngo@outlook.com&phone=909-510-9479",
                "http://www.jimngorealtor.com/"
            ]
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "SoftwareApplication",
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "5",
                "ratingCount": "1"
            },
            "name": "Loanzify Mortgage App",
            "operatingSystem": "iPhone & Android",
            "applicationCategory": "http://schema.org/GameApplication",
            "offers": {
                "@type": "Offer",
                "price": "0.00",
                "priceCurrency": "USD"
            },
            "installUrl": "https://loanzify.com/get/w0N1/"
        }
    </script>
    <!-- Default Statcounter code for Jimngo.net https://www.jimngo.net -->
    <script type="text/javascript">
        var sc_project = 11893871;
        var sc_invisible = 1;
        var sc_security = "b16c17b8";
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript>
        <div class="statcounter"><a title="Web Analytics" href="http://statcounter.com/" target="_blank"><img class="statcounter"
                    src="//c.statcounter.com/11893871/0/b16c17b8/1/" alt="Web Analytics"></a></div>
    </noscript>
    <!-- End of Statcounter Code -->
    <!-- Facebook Pixel Code -->
    <script>
        ! function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1149243855093416');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1149243855093416&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTG237B" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Facebook Share -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- End Facebook Share -->
    <section class="header center">
        <h1>Non-QM Loan Programs<br />Jim Ngo - Ontario, CA</h1>
        <a href="tel:909-248-4453" target="_blank"><i class="material-icons" style="font-size:36px; color:white; padding-right: 30px">call</i></a>
        <a href="sms:+1-909-510-9479" target="_blank"><i class="material-icons" style="font-size:36px;color:white; padding-right: 30px">message</i></a>
        <a href="mailto:jim.ngo@outlook.com" target="_blank"><i class="material-icons" style="font-size:36px;color:white; padding-right: 30px">email</i></a>
    </section>
    <div class="sidebar">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <div class="content">
        <h2>Responsive Sidebar Example</h2>
        <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is
            700px or less.</p>
        <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center
            the navigation links.</p>
        <h3>Resize the browser window to see the effect.</h3>
    </div>

</body>

</html>