<p>Being a real estate agent is my passion, and as a New Home Co-Broker, I am proud to specialize in new homes so that I
  may provide my clients with the home of their dreams.</p>
<p>If you aren't sure if purchasing a new home is right for you, or if you haven't considered a new home as an option,
  please consider reaching out so that I may provide you with some information on new homes to assist you in your
  home-buying journey!</p>
<p>Feel free to contact me if you have any specific question, or when you're ready to buy or sell your home!</p>
<h2><a href="https://www.epropertywatch.com/homeownerPage/N1dk25Yz" target="_blank"
    title="https://www.epropertywatch.com/homeownerPage/N1dk25Yz"><em><span style="text-decoration:underline;">Home
        Valuation</span></em></a></h2>
<ul>
  <li>Do you know what your home is worth?</li>
  <li>Are you curious about nearby homes that are for sale or recently sold?</li>
  <li>How about how much your home might be worth in the next two years?</li>
</ul>
<h2><a href="https://www.workforce-resource.com/dpr/lopmt/MWFW?branch=admin@jimngo.info&amp;amp;phone=909-510-9479"
    target="_blank"
    title="https://www.workforce-resource.com/dpr/lopmt/MWFW?branch=admin@jimngo.info&phone=909-510-9479"><em><span
        style="text-decoration:underline;">Down Payment Resource</span></em></a></h2>
<ul>
  <li>Are you a first-time home-buyer needing a little help with your down payment and/or closing costs?</li>
  <li>Down payment money is out there, and I&rsquo;ll help you find it</li>
</ul>
<h2><a href="https://www.showingnew.com/jimngo" target="_blank" title="https://www.showingnew.com/jimngo"><em><span
        style="text-decoration:underline;">Search NEW Homes For Sale</span></em></a></h2>
<h2><a href="https://app.homespotter.com/?asr=1&amp;amp;sui=14391089" target="_blank"
    title="https://app.homespotter.com/?asr=1&sui=14391089"><em><span style="text-decoration:underline;">HomeSpotter
        App</span></em></a></h2>
<h2><a href="https://realtor.jimngo.info/p/short-sale-foreclosure.html" target="_blank"
    title="https://realtor.jimngo.info/p/short-sale-foreclosure.html"><span style="text-decoration:underline;"><em>Short
        Sale Foreclosure Resource</em></span></a></h2>
<p style="margin-left:30px;">If you or someone you know is facing foreclosure or unable to make mortgage payments, know
  that there are OPTIONS available and PEOPLE you can trust. Call me today to turn the "heavy lifting" over to someone
  who can help.</p>
<h2><a href="https://www.jimngo.net/home-loan" target="_blank" title="https://www.jimngo.net/home-loan"><span
      style="text-decoration:underline;"><em>Home Loans</em></span></a></h2>
<h3>BIG BANKS PUT HIGH INTEREST ABOVE YOUR INTEREST</h3>
<h3>We're Licensed Mortgage Professional, and home to so much more than what big banks offer:</h3>
<ul>
  <li>Lower rates and cheaper costs</li>
  <li>Partnership with hundreds of lenders to shop for your best deal</li>
  <li>Multiple loan products to choose from, not just two or three</li>
  <li>Closing in 30 days or less</li>
  <li>Specialize in mortgages and refis</li>
</ul>
<h3>For your next home loan, work with someone who works on your behalf.</h3>
<h3><a href="https://www.jimngo.net/mortgage-prequalification-calculator" target="_blank"
    title="https://www.jimngo.net/mortgage-prequalification-calculator"><span
      style="text-decoration:underline;"><em>Mortgage Pre-Qualification Calculator</em></span></a></h3>
<ul>
  <li><a href="https://www.jimngo.net/mortgage-affordability-calculator" target="_blank"
      title="https://www.jimngo.net/mortgage-affordability-calculator"><span style="text-decoration:underline;"><em>Do
          you want to know how much home you can afford?</em></span></a></li>
  <li><a href="https://www.jimngo.net/mortgage-income-calculator" target="_blank"
      title="https://www.jimngo.net/mortgage-income-calculator"><span style="text-decoration:underline;"><em>How about
          how much income is required for a mortgage?</em></span></a></li>
  <li>Use my Mortgage Calculator to compute your monthly payment including Principal &amp; Interest, Tax &amp; Mortgage
    Insurance.</li>
</ul>
<h2><a href="https://www.jimngo.net/reverse-mortgage-calculator.html" target="_blank"
    title="https://www.jimngo.net/reverse-mortgage-calculator.html"><span style="text-decoration:underline;"><em>Reverse
        Mortgage</em></span></a></h2>
<p style="margin-left:30px;">You&rsquo;ve worked hard to build the equity in your home. Now it&rsquo;s time to put that
  equity to work for you. Use my free reverse mortgage calculator to determine how much you may qualify for.</p>