<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.jimngo.net/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .topnav { display:flex;  flex-wrap: wrap; justify-content: center;}
        .topnav a { float: left; display: block; color: #f2f2f2; text-align: center; width:210px; padding: 10px 10px; text-decoration: none; font-size: 100%; }
        .topnav a:hover { background-color: inherit; color: inherit; border-style: solid; border-width: 1px; border-radius: 5px; border-color: white;}
        .active { background-color: inherit; color: inherit; border-color: white;}
        .topnav .icon { display: none; }
        @media screen and (max-width: 600px) { .topnav a:not(:first-child) { display: none; } .topnav a.icon { float: right; display: block; } }
        @media screen and (max-width: 600px) { .topnav.responsive { position: relative; } .topnav.responsive .icon { position: absolute; right: 0; top: 0; } .topnav.responsive a { float: none; display: block; text-align: left; } }
    </style>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTG237B" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Facebook Share -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End Facebook Share -->
    <section id="home" class="header center">
        <h1>Real Estate - Home Loan - Life Insurance<br />Jim Ngo - Ontario, CA</h1>   
        <a href="tel:909-248-4453" target="_blank"><i class="material-icons" style="font-size:36px; color:white; padding-right: 30px">call</i></a>
        <a href="sms:+1-909-510-9479" target="_blank"><i class="material-icons" style="font-size:36px;color:white; padding-right: 30px">message</i></a>
        <a href="mailto:jim.ngo@outlook.com" target="_blank"><i class="material-icons" style="font-size:36px;color:white; padding-right: 30px">email</i></a>
        <p></p>
        <div class="topnav" id="myTopnav"> 
            <a href="#home-loan">Home Loan</a>
            <a href="#calc">Mortgage Calculator</a>
            <a href="#life-agent">Life Insurance</a>
            <a href="#about">About</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </div>
    </section>
    <section class="section1">
        <div class="main">
            <h2>Real Estate</h2>
            <p>Being a real estate agent is my passion, and as a <strong>New Home Co-Broker</strong>, I am proud to
                specialize in new homes so that I may provide my clients with the home of their dreams. If you aren’t
                sure if purchasing a new home is right for you, or if you haven’t considered a new home as an option,
                please consider reaching out so that I may provide you with some information on new homes to assist you
                in your home-buying journey!</p>
            <div class="linkmenu">
                <input class="button1" type="button" value="Search NEW Homes" onclick="window.open('https://www.showingnew.com/jimngo');" />
                <input class="button1" type="button" value="Search MLS Homes" onclick="window.open('https://jimsngo.myrealestateplatform.com/');" />
                <input class="button1" type="button" value="Visit My Blog" onclick="window.open('https://realtor.jimngo.info/');" />
            </div>
        </div>
    </section>
    <section>
        <div class="main">
            <div class="flex-container center">
                <div class="col-4 col-s-4">
                    <i class="fas fa-home" style='font-size:48px; color:#002933;'></i><br />
                    <input class="button1" type="button" value="Home Valuation" onclick="window.open('http://cloudcma.com/api_widget/348f96646d0a223f5fa34f124f60dfeb/show?post_url=cloudcma.com&source_url=ua');" />
                    <div class="pad">
                        <ul style="text-align:left">
                            <li>Do you want to know what your home is worth?</li>
                            <li>Are you curious about nearby homes that are for sale or recently sold?</li>
                            <li>How about how much your home might be worth in the next two years?</li>
                        </ul>
                    </div>
                </div>
                <div class="col-4 col-s-4">
                    <i class="fas fa-dollar-sign" style='font-size:48px; color:#002933;'></i><br />
                    <input class="button1" type="button" value="Down Payment Resource" onclick="window.open('https://www.workforce-resource.com/dpr/lopmt/MWFW?branch=jim.ngo@outlook.com&phone=909-510-9479');" />
                    <div class="pad">
                        <p style="text-align:left">Are you a first-time home-buyer needing a little help with your down
                            payment and/or closing costs? Down payment money is out there, and I’ll help you find it</p>
                    </div>
                </div>
                <div class="col-4 col-s-4">
                    <i class="fas fa-user-check" style='font-size:48px; color:#002933;'></i><br />
                    <input class="button1" type="button" value="Short Sale Foreclosure" onclick="window.open('https://realtor.jimngo.info/p/short-sale-foreclosure.html');" />
                    <div class="pad">
                        <p style="text-align:left">If you or someone you know is facing foreclosure or unable to make
                            mortgage payments, know that there are OPTIONS available and PEOPLE you can trust. Call me
                            today to turn the "heavy lifting" over to someone who can help.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="home-loan" class="section2">
        <div class="main">
            <h2>Home Loan</h2>
            <p>My mission is to serve my clients with honesty, integrity and competence. My goal is to provide home
                loans to my clients while providing them with the lowest interest rates and closing costs possible.
                Furthermore, I pledge to help borrowers overcome roadblocks that can arise while securing a loan. From
                the initial application to final funding, I will be with you all along the process. From Conventional
                to government-back loans, forward to reverse mortgages, purchases to refinances, I offer my services.
                There’s no need to look any further for your next Home Loan.</p>
            <ul>
                <li>Licensed mortgage professional</li>
                <li>Lower rates and cheaper costs</li>
                <li>Partnership with hundreds of lenders to shop for your best deal</li>
                <li>Multiple loan products, including Non-QM Loans for Real Estate Investors and Self-Employed
                    Individuals</li>
                <li>Closing in 30 days or less</li>
                <li>Specialize in new mortgages and refinances - <strong>FHA</strong>, <strong>VA</strong>, <strong>Conventional</strong>,
                    <strong>USDA</strong>, <strong>Jumbo</strong> & <strong>Reverse Mortgage</strong>.</li>
            </ul>
            <div class="linkmenu">
                <input class="button2" type="button" value="Mortgage Programs" onclick="window.open('https://realtor.jimngo.info/2018/07/4-mortgage-programs-for-homebuyers.html');" />
                <input class="button2" type="button" value="Debt to Income Ratio" onclick="window.open('https://realtor.jimngo.info/2018/02/your-need-to-know-guide-to-debt-to.html');" />
                <input class="button2" type="button" value="Mortgage Insurance" onclick="window.open('https://realtor.jimngo.info/2018/10/understanding-mortgage-insurance.html');" />
            </div>
        </div>
    </section>
    <section class="main">
        <div class="flex-container">
            <div class="col-4 col-s-4">
                <h3 class="green border">Looking To Purchase A Home?</h3>
                <div class="pad">
                    <p>1. Make sure your credit is in good shape</p>
                    <ul>
                        <li>Excellent Credit: 750+</li>
                        <li>Good Credit: 700-749</li>
                        <li>Fair Credit: 650-699</li>
                        <li>Poor Credit: 600-649</li>
                    </ul>
                    <p>Try to get your credit card balances below 40% of the limit. It's best to have at least 3 open
                        and active accounts listed on your credit report</p>
                    <p>2. If you're renting, pay by check</p>
                    <p>Having documented proof of your last 12 months of payments is often required by the lender</p>
                    <p>3. Obtain proof of employment for the past 2-years</p>
                    <ul>
                        <li>W2s and tax returns</li>
                        <li>Paystubs covering 30 days</li>
                        <li>Be prepared to explain any gaps in employment</li>
                    </ul>
                </div>
            </div>
            <div class="col-4 col-s-4">
                <h3 class="yellow border">How Much House Can You Afford?</h3>
                <div class="pad">
                    <p>Before you start shopping for a new home, determine how much you can afford to spend.</p>
                    <p>Here are a few things to consider:</p>
                    <ul>
                        <li>Your monthly income</li>
                        <li>Your available funds for down payment</li>
                        <li>Your monthly expenses</li>
                        <li>Your credit score</li>
                    </ul>
                    <p>It's important to consider getting pre-approved from a licensed mortgage professional. An
                        Independent Mortgage Professional will be able to offer you several loan options and find the
                        best available loan program for your needs.</p>
                </div>
            </div>
            <div class="col-4 col-s-4">
                <h3 class="blue border">6 Things Not To Do When Applying For A Mortgage</h3>
                <div class="pad">
                    <p>When lenders review your application, they like to see consistency in your finances.</p>
                    <ul>
                        <li>Do not make major purchases like furniture, appliances, jewelry, vehicles or vacations</li>
                        <li>Don't change or quit your job</li>
                        <li>Consult with your mortgage professional before withdrawing, depositing, or moving large
                            amounts of money in or out of your bank account</li>
                        <li>Do not pay off debts or collections (unless instructed to do so by a mortgage professional)</li>
                        <li>Avoid using cash for a good-faith deposit - cash is difficult to verify and could result in
                            a closing delay</li>
                        <li>Don't have your credit report pulled too many times - this can hurt your credit score</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="calc" class="main">
        <p></p>
        <div class="fb-share-button" data-href="https://www.jimngo.net/" data-layout="button_count" data-size="large"
            data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.jimngo.net%2F&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore">Share</a></div>
        <p></p>
        <button class="heading">
            <h3>Mortgage PreQualification Calculator</h3>
        </button>
        <p>Mortgage lenders use <a href="https://realtor.jimngo.info/2018/02/your-need-to-know-guide-to-debt-to.html"
                target="_blank"><strong>Debt To Income (DTI) Ratios</strong></a> to analyze your mortgage payment and
            determine how much loan you qualify for. The <strong>Front Ratio</strong> compares your total <strong>Housing
                Expenses</strong> to your <strong>Monthly Income</strong>, including <strong>Principal & Interest</strong>,
            <strong>Property Tax</strong>, <a href="https://realtor.jimngo.info/2018/10/understanding-mortgage-insurance.html"
                target="_blank"><strong>Mortgage Insurance</strong></a>,</span> and anything relating to your home. The
            <strong>Back Ratio</strong> compares your total <strong>Monthly Debt</strong> plus your <strong>Housing
                Expenses</strong> to your <strong>Monthly Income.</strong></p>
        <p><strong>Conservative</strong> DTI ratios are <span style="color: green"><strong>31/43</strong></span>.
            <strong>Aggressive</strong> ratios are <span style="color:red"><strong>37/47</strong></span>. Some loan
            program will allow ratios to go up to 50%, but anything above that will likely be denied.</p>
        <p>Use my calculator to compute your monthly payment. Simply enter the housing information, your monthly
            income, monthly debt, and it will also compute your <strong>Debt To Income Ratios</strong>.</p>
    </section>
    <section class="calculator">
        <div class="main">
            <div class="row center">
                <div class="col-4 col-s-6">
                    <button class="heading" onclick="house()"><span id="loanProgram"></span> <span id="DP1%"></span> %
                        Down</button>
                    <div id="house">
                        <p>Loan Program: <select id="mySelect" onchange="calc()">
                                <option value="Conventional">Conventional</option>
                                <option value="FHA" selected>FHA</option>
                                <option value="VA">VA</option>
                                <option value="USDA">USDA</option>
                                <option value="Jumbo">Jumbo</option>
                            </select>
                        </p>
                        <p>Purchase Price: $<span id="PP"></span></p>
                        <input class="slider" id="pp" max="700000" min="100000" step="10000" type="range" value="300000"
                            oninput="calc()" />
                        <p>Down Payment: $<span id="DP"></span> (<span id="DP%"></span> %)</p>
                        <input class="slider" id="dp" max="50" min="0.0" step="0.5" type="range" value="3.5" oninput="calc()" />
                        <p>Loan Amount: $<span id="P"></span> (<span id="LTV"></span> %)</p>
                        <p class="note" id="loanMaxNote" style="display: none; text-align: left; padding: 5px,5px,5px,5px;">Note:
                            Every loan program has its loan limit which varies by county. Please visit <a href="https://entp.hud.gov/idapp/html/hicostlook.cfm"
                                rel="nofollow" target="_blank">HUD</a> for limits on FHA loans, <a href="https://www.benefits.va.gov/HOMELOANS/purchaseco_loan_limits.asp"
                                target="_blank">VA</a> for limits on VA loans, and <a href="https://www.fhfa.gov/DataTools/Downloads/Pages/Conforming-Loan-Limits.aspx"
                                rel="nofollow" target="_blank">FHFA</a> for limits on Conventional loans. Loans
                            exceeding conforming loan limits are conside#331a00 Jumbo Loans.</p>
                        <p class="note" id="jumboLoan" style="display: none; text-align: left; padding: 5px,5px,5px,5px;">Jumbo
                            loans has minimum loan amounts which must be higher than conforming loan limits, and varies
                            by counties. Please visit <a href="https://www.fhfa.gov/DataTools/Downloads/Pages/Conforming-Loan-Limits.aspx"
                                rel="nofollow" target="_blank">FHFA</a> to check for conforming loan limit in your
                            county.</p>
                    </div>
                    <p></p>
                    <button class="heading" onclick="income()">Monthly Income: $<span id="MI$"></span><br />Monthly
                        Debt: $<span id="ML$"></span></button>
                    <div id="income">
                        <p>Your Monthly Income: $<span id="MTI"></span></p>
                        <input class="slider" id="mti" max="20000" min="1000" step="50" type="range" value="6000"
                            oninput="calc()" />
                        <p>Your Monthly Liabilities: $<span id="MTL"></span></p>
                        <input class="slider" id="mtl" max="4000" min="0" step="20" type="range" value="400" oninput="calc()" />
                    </div>
                    <p></p>
                    <button class="heading" onclick="mortgage()"><span id="LT"></span> Yr Fixed @ <span id="APR%"></span>
                        %</button>
                    <div id="mortgage">
                        <p>Loan Term: <select id="mySelect2" onchange="calc()">
                                <option value="15 Yrs">15 Years
                                <option value="30 Yrs" selected>30 Years
                            </select></p>
                        <p>Interest Rate: <span id="APR"></span> %</p>
                        <input class="slider" id="apr" max="10" min="1" step="0.125" type="range" value="5" oninput="calc()" />
                    </div>
                    <p></p>
                    <button class="heading" onclick="tax()">Property Tax: <span id="PT1%"></span><span> %</span><br />Mortgage
                        Insurance: <span id="MI1%"></span><span> %</button>
                    <div id="tax">
                        <p class="tooltip">Property Tax Annual Rate: <span class="tooltiptext">Property Tax is normally
                                1.20% of the purchased price annually.</span><span id="PT%"></span> %</p>
                        <input class="slider" id="pt" max="1.5" min="0.5" step="0.05" type="range" value="1.20" oninput="calc()" />
                        <p class="tooltip">Mortgage Insurance Annual Rate: <span class="tooltiptext">Mortgage Insurance
                                is usually between 0.5% to 1.0% of the loan amount annually.</span><span id="MI%"></span>
                            %</p>
                        <input class="slider" id="mi" max="1.0" min="0.5" step="0.05" type="range" value=".75" oninput="calc()" />
                    </div>
                </div>
                <div class="col-4 col-s-6">
                    <button class="heading" style="background-color: dodgerblue;">Housing Expenses: $<span id="MP"></span></button>
                    <div id="payment">
                        <p>Principal &amp; Interest: $<span id="PI"></span></p>
                        <p>Property Tax: $<span id="T"></span></p>
                        <p>Mortgage Insurance: $<span id="I"></span></p>
                        <p>Homeowner Insurance: $<span id="HOI"></span></p>
                        <p>Your Front DTI Ratio: <span id="FR"></span> %</p>
                        <input class="slider1" id="FR%" max="37" min="0" step="1" type="range" value="30" />
                        <p>Your Back DTI Ratio: <span id="BR"></span> %</p>
                        <input class="slider1" id="BR%" max="47" min="0" step="1" type="range" value="30" />
                        <p class="note" id="dtiNote" style="display: none; text-align: left; padding: 5px,5px,5px,5px;">Note:
                            <span style="color: green">Conservative DTI ratios are 31/43</span>, <span style="color: #331a00">Aggressive
                                ratios are 37/47</span>. Manual Underwriting may allow ratios to go up to 40/50 with 2
                            compensating factors. Ratios over 50% will likely be denied.</p>
                    </div>
                    <p></p>
                    <button id="ratio" class="heading blink" style="background-color: #ffcccc"><span id="dtim" style="font-size: xx-large"></span></button>
                </div>
                <div class="col-4 col-s-12">
                    <div id="FHA" class="tabcontent">
                        <button class="heading">FHA Loan Advantages</button>
                        <ul>
                            <li>The Federal Housing Administration (FHA) - which is part of HUD - insures the loan, so
                                your lender can offer you a better deal.</li>
                            <li>Down payment as low as 3.5%. Gift funds accepted, family members are welcome to help
                                out with your down payment.</li>
                            <li>Mortgage Insurance includes an Upfront Funding Fee of 1.75% of the loan amount,
                                typically financed into the loan, and an annual insurance premium of 0.85%, which will
                                be lumped into the monthly payment. For down payment of 5% or more, the annual
                                insurance premium will be 0.80%.</li>
                            <li>FHA has loan limit which varies by county. Please visit <a href="https://entp.hud.gov/idapp/html/hicostlook.cfm"
                                    rel="nofollow" target="_blank"> HUD </a>to check the loan limit for your county.
                                Below are loan limits for local counties in southern California:</li>
                            <ul>
                                <li>San Bernardino - $405,950</li>
                                <li>Los Angeles - $679,650</li>
                                <li>Orange - $679,650</li>
                            </ul>
                            <li><a href="https://realtor.jimngo.info/p/down-payment-assistance.html" target="_blank">CalHFA
                                    MyHome</a> - Down Payment Assistance - First Time Home Buyer</li>
                            <li><a href="https://realtor.jimngo.info/2018/01/reverse-mortgage.html" target="_blank">Reverse
                                    Mortgage</a> - Are you 62 or older? Do you live in your home? Do you own it
                                outright or have a low loan balance? If you can answer "yes" to all of these questions,
                                then the FHA Reverse Mortgage might be right for you. It lets you convert a portion of
                                your equity into cash.</li>
                        </ul>
                    </div>
                    <div id="VA" class="tabcontent">
                        <button class="heading">VA Loan Advantages</button>
                        <ul>
                            <li>No down payment as long as the sales price doesn't exceed the appraised value.</li>
                            <li>No private mortgage insurance premium requirement.</li>
                            <li>Upfront Funding Fee typically at 2.15% and can be financed into the loan. The actual
                                funding fee for VA loans varies based on several factors, such as nature of service,
                                down payment and first-time use</li>
                            <li>VA rules limit the amount you can be charged for closing costs.</li>
                            <li>Closing costs may be paid by the seller.</li>
                            <li>The lender can't charge you a penalty fee if you pay the loan off early.</li>
                            <li>VA may be able to provide you some assistance if you run into difficulty making
                                payments.</li>
                        </ul>
                        <p>You should also know that:</p>
                        <ul>
                            <li>You don't have to be a first-time homebuyer.</li>
                            <li>You can reuse the benefit.</li>
                            <li>VA-backed loans are assumable, as long as the person assuming the loan qualifies.</li>
                        </ul>
                        <p>Learn more about VA Home Loans:</p>
                        <ul>
                            <li><a href="https://www.benefits.va.gov/HOMELOANS/purchaseco_eligibility.asp" rel="nofollow"
                                    target="_blank">Eligibility</a></li>
                            <li><a href="https://www.benefits.va.gov/HOMELOANS/purchaseco_buy_process.asp" rel="nofollow"
                                    target="_blank">Buying Process</a></li>
                            <li><a href="https://www.benefits.va.gov/HOMELOANS/purchaseco_certificate.asp" rel="nofollow"
                                    target="_blank">Getting a Certificate of Eligibility</a></li>
                            <li><a href="https://www.benefits.va.gov/homeloans/purchaseco_loan_limits.asp" rel="nofollow"
                                    target="_blank">Loan Limits</a></li>
                            <li><a href="https://www.benefits.va.gov/HOMELOANS/documents/docs/guaranty_calculation_examples.pdf"
                                    rel="nofollow" target="_blank">Guaranty Calculation Examples</a></li>
                        </ul>
                    </div>
                    <div id="Conventional" class="tabcontent">
                        <button class="heading">Conventional</button>
                        <p>Don't have a big down payment? FHA's not your only option. Get a conventional 3% down loan.</p>
                        <ul>
                            <li>Down payment as low as 3% (even for first-time homebuyers).</li>
                            <li>Reduced or even eliminate monthly Mortgage Insurance.</li>
                            <li>Usually faster, easier and with a lower monthly payment than FHA.</li>
                            <li>Use gift funds for your entire down payment.</li>
                            <li>Conventional has loan limit which varies by county. Please visit <a href="https://www.fhfa.gov/DataTools/Downloads/Pages/Conforming-Loan-Limits.aspx"
                                    rel="nofollow" target="_blank">FHFA</a> to check the loan limit for your county.
                                Below are loan limits for local counties in southern California:</li>
                            <ul>
                                <li>San Bernardino - $484,350</li>
                                <li>Los Angeles - $726,525</li>
                                <li>Orange - $726,525</li>
                            </ul>
                        </ul>
                    </div>
                    <div id="USDA" class="tabcontent">
                        <button class="heading">USDA</button>
                        <p>Purchase a rural home with no money down.</p>
                        <ul>
                            <li>100% financing - No down payment.</li>
                            <li>Seller credits may help pay for closing costs.</li>
                            <li>1% Upfront Funding Fee, paid at closing and typically financed into the loan.</li>
                            <li>Mortgage Insurance annual fee of 0.35% of the loan amount, lumped into the monthly
                                payment and is paid for the life of the loan.</li>
                        </ul>
                        <p>Learn more about USDA Loan:</p>
                        <ul>
                            <li><a href="https://eligibility.sc.egov.usda.gov/eligibility/welcomeAction.do" rel="nofollow"
                                    target="_blank">Property Eligibility</a></li>
                            <li><a href="https://eligibility.sc.egov.usda.gov/eligibility/incomeEligibilityAction.do?pageAction=state"
                                    rel="nofollow" target="_blank">Income Eligibility</a></li>
                            <li><a href="https://www.rd.usda.gov/files/RD-GRHLimitMap.pdf" rel="nofollow" target="_blank">Income
                                    Limit</a></li>
                        </ul>
                    </div>
                    <div id="Jumbo" class="tabcontent">
                        <button class="heading">Jumbo Loan</button>
                        <ul>
                            <li>For loan amounts exceeding conforming loan limit</li>
                            <li>20% down payment is typically required, however, there are programs that will require
                                only 10% down.</li>
                            <li>No mortgage insurance</li>
                            <li>Great fixed-rate and ARM loans available</li>
                            <li>Starting at 720 FICO.</li>
                            <li>Please visit <a href="https://www.fhfa.gov/DataTools/Downloads/Pages/Conforming-Loan-Limits.aspx"
                                    target="_blank">FHFA</a> to check the conforming loan limit for your county. Below
                                are minimum loan amounts for local counties in southern California:</li>
                            <ul>
                                <li>San Bernardino - $484,350</li>
                                <li>Los Angeles - $726,525</li>
                                <li>Orange - $726,525</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="disclaimer">
        <div class="main">
            <div class="row" style="display: flex; flex-wrap: wrap; align-items: center;">
                <div class="col-8 col-s-7">
                    <p>DISCLAIMER: Calculations by this tool are believed to be accurate, yet are not guaranteed.</p>
                    <ul>
                        <li><a href="https://realtor.jimngo.info/2018/10/understanding-mortgage-insurance.html" target="_blank">Mortgage
                                Insurance</a> is required for down payment less than 20%, except for VA Loan.</li>
                        <li><a href="https://realtor.jimngo.info/2018/11/getting-to-know-fha-mortgage-financing.html"
                                target="_blank">FHA</a> requires a 3.5% down payment as well as an upfront and monthly
                            mortgage insurance in many cases.
                        <li><a href="https://realtor.jimngo.info/2018/11/comparing-va-loans-and-fha-loans.html" target="_blank">VA
                                Loan</a> does not require any down payment or monthly mortgage insurance, but has an
                            upfront Funding Fee.</li>
                        <li><strong>Conservative</strong> <a href="https://realtor.jimngo.info/2018/02/your-need-to-know-guide-to-debt-to.html"
                                target="_blank">Debt To Income (DTI) Ratios</a> are <span style="color: green"><strong>31/43</strong></span>,
                            <strong>Aggressive</strong> Ratios are <span style="color:red"><strong>37/47</strong></span>.
                            Some loan program will allow ratios to go up to 50%, but anything above that will likely be
                            denied.</li>
                        <li><a href="https://realtor.jimngo.info/2018/07/closing-costs.html" target="_blank">Closing
                                Costs</a> account for about 2%-5% of the purchase price.</li>
                        <li>Every loan program has its loan limit which varies by county. Please visit <a href="https://entp.hud.gov/idapp/html/hicostlook.cfm"
                                target="_blank">HUD</a> for limits on FHA loans, <a href="https://www.benefits.va.gov/HOMELOANS/purchaseco_loan_limits.asp"
                                target="_blank">VA</a> for limits on VA loans, and <a href="https://www.fhfa.gov/DataTools/Downloads/Pages/Conforming-Loan-Limits.aspx"
                                target="_blank">FHFA</a> for limits on Conventional loans. Loans exceeding conforming
                            loan limits are considered Jumbo Loans, which typically require a FICO score of 700+ and a
                            down payments of 20 percent or more.</li>
                    </ul>
                </div>
                <div class="col-4 col-s-5">
                    <div class="mnd-rates-widget" style="width: 250px; font-size: 12px; ">
                        <div class="w-header" style="text-align: center; padding:4px 0;background-color: #336699; color: #FFFFFF;">
                            <a href="http://www.mortgagenewsdaily.com/mortgage_rates/" target="_blank" style="color: #FFFFFF;text-decoration:none;">Home
                                Mortgage Rates</a></div>
                        <div style="background-color: #FFFFFF; border: solid 1px #336699; border-width: 0 1px; padding: 8px  8px 1px;">
                            <div class="mnd-rates" data-widgettype="smallrates" data-width="250" data-showchart="true"
                                data-cobrand="jim9" data-user="151801" data-chartcolor="#336699"> </div>
                        </div>
                        <div class="w-footer" style="text-align: center; padding:4px 0;background-color: #336699; color: #FFFFFF;">View
                            More <a href="http://www.mortgagenewsdaily.com/mortgage_rates/" target="_blank" style="color: #FFFFFF;text-decoration:none;">Interest
                                Rates</a></div>
                    </div>
                    <script>(function(d, s, id) {         var js, fjs = d.getElementsByTagName(s)[0];         if (d.getElementById(id)) return;         js = d.createElement(s); js.id = id;         js.src = "//widgets.mortgagenewsdaily.com/public/javascript/rates.min.js";         fjs.parentNode.insertBefore(js, fjs);     }(document, 'script', 'mnd-rates'));</script>
                </div>
            </div>
        </div>
    </section>
    <section class="more-calc">
        <p></p>
        <button class="collapsible">More Mortgage Calculators</button>
        <div class="content">
            <div class="linkmenu">
                <input class="button5" type="button" value="FHA Morgage Calculator" onclick="window.open('https://www.jimngo.net/fha-prequalification-calculator');" />
                <input class="button5" type="button" value="Affordability Calculator" onclick="window.open('https://www.jimngo.net/mortgage-affordability-calculator');" />
                <input class="button5" type="button" value="Income Requirement Calculator" onclick="window.open('https://www.jimngo.net/mortgage-income-calculator');" />
                <input class="button5" type="button" value="Extra Payment Calculator" onclick="window.open('https://www.jimngo.net/extra-payment-calculator');" />
                <input class="button5" type="button" value="Loanzify Mortgage App" onclick="window.open('https://loanzify.com/get/w0N1/');" />
            </div>
        </div>
        <p></p>
    </section>
    <section id="life-agent" class="section3">
        <div class="main">
            <h2>Life Insurance</h2>
            <p>The insurance industry includes hundreds of different companies hoping to earn your business. It is a
                very competitive market and it pays to shop around for the very best deals. Whether you're searching
                for <strong>Term Life</strong>, <strong>Permanent Life</strong>, <strong>Universal Life</strong>, or
                <strong>Annuity</strong>, you must be well-informed and well-advised to get the most out of your
                premium dollars.</p>
            <p>An experienced and independent agent who represents multiple insurance carriers can make a huge
                difference in what you pay for coverage. Your family will always come first. You wouldn't want them to
                bear huge and unexpected financial burdens at the time of your passing. No matter what your age, it's
                absolutely essential to have a plan in place to protect your loved ones when you are no longer able.</p>
            <p><strong>Mortgage Protection</strong> and <strong>Final Expense</strong> life insurance will pay for your
                mortgage, funeral service, bills and other associated costs, in the event of your death.</p>
            <div class="linkmenu">
                <input class="button3" type="button" value="Term Life" onclick="window.open('https://insurance.jimngo.info/2017/11/term-life-insurance.html');" />
                <input class="button3" type="button" value="Universal Life" onclick="window.open('https://insurance.jimngo.info/2017/11/universal-life-insurance.html');" />
                <input class="button3" type="button" value="Visit My Blog" onclick="window.open('https://insurance.jimngo.info/');" />
            </div>
        </div>
    </section>
</body>
<script src="https://www.jimngo.net/javascript/calc-Ob.js"></script>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
<footer class="footer center">
    <div class="col-4 col-s-4">
        <span><img src="https://www.jimngo.net/image/profile.gif"></span>
        <h3>Jim Ngo</h3>
        <p>United Empire Realty<br/>
            BRE 01164334 | NMLS 1353214</p>
        <p><input type="button" class="button6 blink" value="(909) 510-9479" onclick="window.open('tel:909-510-9479');"/></p>
        <div class="flex-container">
            <a href="tel:909-510-9479"><i class="material-icons" style="font-size:36px; color:black; padding-right: 20px">call</i></a>
            <a href="https://m.me/jimngo.realtor?fbclid=IwAR3ADIVNC_z-bbeRJ3FVvU2v8KM4u0BXLRa4KASlEvtxnyAifxYCsaBCmeA" target="_blank"><i class="fab fa-facebook-messenger" style="font-size:36px; color:black; padding-right: 20px"></i></a>
            <a href="mailto:jim.ngo@outlook.com"><i class="material-icons" style="font-size:36px;color:black; padding-right: 20px">email</i></a>
            <a href="https://business.facebook.com/jimngo.realtor/" target="_blank"><i class='fab fa-facebook' style="font-size:36px; color:black; padding-right: 20px"></i></a>
        </div>
    </div>
    <div class="col-4 col-s-4">
        <div><img src="https://www.jimngo.net/image\EHO.png"></div>
        <p></p>
        <div>
            Licensed Real Estate Corporation by the California Bureau of Real Estate. <br />
            Corporate Broker # 01952954<br />
            NMLS # 1194303
        </div>
    </div>
    <div class="col-4 col-s-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.8830708895002!2d-117.57720138436264!3d34.07251158060053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c335a191c05eb1%3A0x851e7d55baf7eae9!2s800+N+Haven+Ave+%23370%2C+Ontario%2C+CA+91764!5e0!3m2!1sen!2sus!4v1548957811285" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</footer>
</body>