<html>

<body>
  <h4>Fixed Rate Reverse Mortgage:</h4>
  <p>This option have come to be a favorite in the HECM marketplace since 2009, with about 67% of originated reverse
    mortgage loans having a fixed rate:</p>
  <ul>
    <li>Fixed rate will remain the same for the entire loan term, so you are protected if market rates rise.
    </li>
    <li>Borrowers who choose a fixed rate reverse mortgage must take their funds as a lump sum, as opposed to other
      disbursement options offered at a variable rate.</li>
    <li>When taking a lump sum, borrowers are restricted to pull only up to 60% of the principal limit of the loan.
    </li>
  </ul>
  <p>Due to these details, fixed rate reverse mortgages are usually best for borrowers who plan to use their reverse
    mortgage
    funds all at once, such as to pay off an existing mortgage or other debt, or to make major home repairs or
    modifications.</p>
  <h4>Variable Rate Reverse Mortgage</h4>
  <p>The less popular, but oftentimes the more flexible option, is the variable rate. Just as the fixed rate is “fixed”
    for
    the loan period, a variable rate varies throughout the loan period. There are pros and cons to variable rate reverse
    mortgages:</p>
  <ul>
    <li>They come with more disbursement options then a fixed rate loan. Borrowers may choose between a line of credit,
      monthly
      payments, a lump sum, or a combination of the three.</li>
    <li>Interest is only charged on funds that have been withdrawn. This means that, if you have a line of credit that
      you
      rarely use, you will only be charged interest on the amount withdrawn.</li>
    <li>Unused lines of credit may also grow with time, allowing the borrower even more flexibility in the amount
      available for
      them to borrow.</li>
    <li>Greater risk of your interest rate rising quickly and drastically.</li>
  </ul>
  <p>In general, variable rates are best for borrowers who plan to use their reverse mortgage funds over time, or in
    rare
    instances. In this way, borrowers may use it to add to their existing fixed income every month, to supplement their
    other retirement accounts, or as a stand by account so money is readily available in the case of an emergency.</p>

</body>

</html>