<style>
     /* Style the tab */
     .tab {
          overflow: hidden;
          border: 1px solid #ccc;
          background-color: #B63D79;
          border-radius: 5px;
     }

     /* Style the buttons inside the tab */
     .tab button {
          background-color: inherit;
          color: white;
          float: left;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 10px 10px;
          transition: 0.3s;
          font-size: 100%;
     }

     /* Change background color of buttons on hover */
     .tab button:hover {
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
     }

     /* Create an active/current tablink class */
     .tab button.active {
          background-color: rgba(0, 0, 0, 0.6);
     }

     /* Style the tab content */
     .tabcontent1 {
          display: none;
          padding: 6px 12px;
          -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
     }

     /* Fade in tabs */
     @-webkit-keyframes fadeEffect {
          from {
               opacity: 0;
          }

          to {
               opacity: 1;
          }
     }

     @keyframes fadeEffect {
          from {
               opacity: 0;
          }

          to {
               opacity: 1;
          }
     }
</style>

<body>
     <h3>Non-QM Loan Programs</h3>
     <div class="tab">
          <button class="tablinks active" onclick="openLoanProgram(event, 'BSP')">Bank Statement Premier</button>
          <button class="tablinks" onclick="openLoanProgram(event, 'BS')">Bank Statement</button>
          <button class="tablinks" onclick="openLoanProgram(event, 'I')">Investor</button>
          <button class="tablinks" onclick="openLoanProgram(event, 'AQ')">Asset Qualification</button>
          <button class="tablinks" onclick="openLoanProgram(event, 'AP')">Agency Plus</button>
     </div>
     <div id="BSP" class="tabcontent1" style="display:block">
          <p>For Highly Qualified Self-Employed Borrowers</p>
          <P>Qualify with 12-months of bank statements and get a floor rate as low as 4.99%</P>
          <ul>
               <li>Loans up to $3M | Cash out refi to $2.5M</li>
               <li>Debt to income ratio up to 43% allowed with minimum FICO score of 680</li>
               <li>Minimum reserves of 6 months and no mortgage lates for 24 months is required</li>
               <li>One Borrower must be self-employed and may have multiple streams of income</li>
          </ul>
     </div>
     <div id="BS" class="tabcontent1">
          <p>For Self-Employed Borrowers</p>
          <p>Qualify with 12-months bank statements</p>
          <ul>
               <li>Loans up to $3M | Cash out refi to $2.5M | DTI up to 55%</li>
               <li>Min FICO score 600 | Min reserves - 3 months</li>
               <li>No more than 1 mortgage late in past 12 months</li>
               <li>One borrower must be self-employed and may have multiple streams of income</li>
          </ul>
     </div>
     <div id="I" class="tabcontent1">
          <p>For Professional Real Estate Investors</p>
          <p>Qualify with subject property cash flow</p>
          <ul>
               <li>Loans up to $2.5M | Cash out refi to $2.0M | DCR = 1.0</li>
               <li>Unlimited financed properties allowed</li>
               <li>Borrower does not need to own a primary residence or investment property</li>
               <li>No tax returns, no employment, no income and no pre-payment penalty</li>
          </ul>
     </div>
     <div id="AQ" class="tabcontent1">
          <p>For Borrowers with High Cash Liquidity</p>
          <p>Qualify based on vierified liquid assets</p>
          <ul>
               <li>Loan amounts up to $3M | Cash out refi up to $2.5M</li>
               <li>Usable Assets: 100% Checking & Savings, 90% Stocks, Bonds & Mutual Funds, 80% Retirement Funds</li>
               <li>No DTI ratio calculated | Min FICO score 600 | No employment or income on 1003</li>
          </ul>
     </div>
     <div id="AP" class="tabcontent1">
          <p>For Conforming & Jumbo Loans, and Owners of Multiple Properties Falling Just Outside Qualified Mortgage
               Parameters</p>
          <p>Qualify with full documentation</p>
          <ul>
               <li>Loan amounts up to $3M | Cash out refi up to $2.5M | DTI up to 55%</li>
               <li>Cash out up to 85% LTV (max. $1.0M)</li>
               <li>Min FICO score 600 | Min reserves - 3 months</li>
               <li>Up to 8 financed properties allowed</li>
          </ul>
     </div>
     <script>
          function openLoanProgram(evt, loanProgram) { var i, tabcontent1, tablinks; tabcontent1 = document.getElementsByClassName("tabcontent1"); for (i = 0; i < tabcontent1.length; i++) { tabcontent1[i].style.display = "none"; } tablinks = document.getElementsByClassName("tablinks"); for (i = 0; i < tablinks.length; i++) { tablinks[i].className = tablinks[i].className.replace(" active", ""); } document.getElementById(loanProgram).style.display = "block"; evt.currentTarget.className += " active"; }
     </script>
</body>